{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<style>


</style>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script>

var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};

var $j = jQuery.noConflict();

$j(document).ready(function() {

	$j("#course").val(getUrlParameter("course"));
	$j("#postcode").val(getUrlParameter("postcode"));

});



$j( function() {  
  $j( "#course" ).autocomplete({
	source: function( request, response ) {
	  $j.ajax( {
		url: "http://www.marsspiders.com/api/coursesearch.php",
		dataType: "jsonp",
		data: {
		  what: request.term
		},
		success: function( data ) {
		  response( data );
		}
	  } );
	},
	minLength: 3,
	select: function( event, ui ) {
	 
	}
  } );
  
});


</script>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third foo">
                <!--<div class="govuk-form-group">
                      <label class="govuk-label" for="provider"> Provider </label>
                    <input class="govuk-input" id="provider" type="text" name="provider">
                  </div>-->



              <!--  <div class="govuk-form-group govuk-grid-column-one-half">
                  <label class="govuk-label" for="location"> Location </label>
                <input class="govuk-input" id="location" type="text" name="locaton">
                </div>

                  <div class="govuk-form-group govuk-grid-column-one-half">
                      <label class="govuk-label" for="radius"> Distance </label>
                      <select class="govuk-select" id="radius" name="radius">
                          <option value="1">1 mile</option>
                          <option value="3">3 miles</option>
                          <option value="5">5 miles</option>
                          <option value="10">10 miles</option>
                          <option value="15">15 miles</option>
                          <option value="20" selected="selected">20 miles</option>
                          <option value="25">25 miles</option>
                      </select>
                  </div>

              </div>-->


                  <p class="lede">Location</p>

                  <div class="govuk-!-margin-bottom-9">
                  <div class="search-container">
                      <div class="search-text">
                          <input id="postcode" style="max-width: 150px;" class="form-control mbl num" name="keywords" placeholder="Postcode" autocomplete="off" data-suggestion-url="/suggest-town/" type="text">
                          <div class="search-divider"></div>
                          <div class="radius-container">
                              <select id="radius" class="form-control" name="radius" style="background: black;color: white;">
                                  <option value="1">1 mile</option>
                                  <option value="3">3 miles</option>
                                  <option value="5">5 miles</option>
                                  <option value="10">10 miles</option>
                                  <option value="15">15 miles</option>
                                  <option value="20" selected="selected">20 miles</option>
                                  <option value="25">25 miles</option>
                              </select>
                          </div>
                      </div>
                      <input id="LocationCoordinates" name="LocationCoordinates" value="52.40099669999999,-1.5081222000000025" type="hidden">
                      <!--<input name="searchtype" value="search-by-location" class="search-input" type="submit">-->
                  </div>
                  </div>


<br>
<br>



              <p class="lede">How to Study?</p>

              <div class="form-group govuk-checkboxes">
                  <fieldset>
                      <div class="govuk-checkboxes__item">
                          <input id="study0" name="study" type="checkbox" value="0" class="govuk-checkboxes__input">
                          <label class="govuk-label govuk-checkboxes__label" for="study0">All (71)</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="study1" name="study" type="checkbox" value="1">
                          <label class="govuk-label govuk-checkboxes__label" for="study1">Full Time (24)</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="study2" name="study" type="checkbox" value="2">
                          <label class="govuk-label govuk-checkboxes__label" for="study2">Part Time (13)</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="study3" name="study" type="checkbox" value="3">
                          <label class="govuk-label govuk-checkboxes__label" for="study3">Flexible (13)</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="study4" name="study" type="checkbox" value="4">
                          <label class="govuk-label govuk-checkboxes__label" for="study4">Classroom (13)</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="study5" name="study" type="checkbox" value="5">
                          <label class="govuk-label govuk-checkboxes__label" for="study5">Online (45)</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="study6" name="study" type="checkbox" value="6">
                          <label class="govuk-label govuk-checkboxes__label" for="study6">Evenings (0)</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="study7" name="study" type="checkbox" value="6">
                          <label class="govuk-label govuk-checkboxes__label" for="study7">Weekends (0)</label>
                      </div>
                  </fieldset>
              </div>

              <br>
              <br>



              <p class="lede">Level</p>
            <div class="form-group govuk-checkboxes govuk-!-margin-bottom-5">
                <fieldset>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="level0" name="level" type="checkbox" value="0">
                    <label class="govuk-label govuk-checkboxes__label" for="level0">All (71)</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="level1" name="level" type="checkbox" value="1">
                    <label class="govuk-label govuk-checkboxes__label" for="level1">Level 1 (13)</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="level2" name="level" type="checkbox" value="2">
                    <label class="govuk-label govuk-checkboxes__label" for="level2">Level 2 (45)</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="level3" name="level" type="checkbox" value="3">
                    <label class="govuk-label govuk-checkboxes__label" for="level3">Level 3 (13)</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="level4" name="level" type="checkbox" value="4">
                    <label class="govuk-label govuk-checkboxes__label" for="level4">Level 4 (0)</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="level5" name="level" type="checkbox" value="5">
                    <label class="govuk-label govuk-checkboxes__label" for="level5">Level 5 (0)</label>
                  </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="level5" name="level" type="checkbox" value="5">
                        <label class="govuk-label govuk-checkboxes__label" for="level5">Level 6 (0)</label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="level5" name="level" type="checkbox" value="5">
                        <label class="govuk-label govuk-checkboxes__label" for="level5">Level 7 (0)</label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="level5" name="level" type="checkbox" value="5">
                        <label class="govuk-label govuk-checkboxes__label" for="level5">Level 8 (0)</label>
                    </div>
                </fieldset>
          </div>
              <br>



              <p class="lede">Qualification type</p>
              <div class="form-group govuk-checkboxes govuk-!-margin-bottom-5">
                  <fieldset>
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="level0" name="level" type="checkbox" value="0">
                          <label class="govuk-label govuk-checkboxes__label" for="level0">All (71)</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="level1" name="level" type="checkbox" value="1">
                          <label class="govuk-label govuk-checkboxes__label" for="level1">GCSC (13)</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="level2" name="level" type="checkbox" value="2">
                          <label class="govuk-label govuk-checkboxes__label" for="level2">NVQ (45)</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="level3" name="level" type="checkbox" value="3">
                          <label class="govuk-label govuk-checkboxes__label" for="level3">Certificate of Attendance (13)</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="level4" name="level" type="checkbox" value="4">
                          <label class="govuk-label govuk-checkboxes__label" for="level4">Access to Higher Education</label>
                      </div>
                  </fieldset>
              </div>






          </div>

          <div class="govuk-grid-column-two-thirds homepage-bottom">

              <div class="header-search-content">
                  <form action="/sprint1/course-search" class="site-search ui-front" id="header-search" method="post">

                      <div class="search-input-wrapper">

                          <div class="govuk-form-group">
                              <label class="govuk-label" for="address-line-2">
                              </label>
                              <input class="govuk-input" id="course" name="course" type="text" placeholder="Course name">
                          </div>

                      </div>
                      <input class="submit" type="submit" value="Search">
                  </form>

              </div>



             <!-- <div class="form-group govuk-grid-column-one-third">
                  <label class="govuk-label" for="sort"> Sort results by  </label>
                  <select class="govuk-select" id="sort" name="sort">
                      <option>Distance</option>
                      <option>Name</option>
                      <option>Popular</option>
                  </select>
              </div>-->



            <div class="govuk-grid-column-full">
                <div class="govuk-grid-column-one-half">
            <a href="#" style="display: block;margin-bottom: 20px;">1 - 10 of 15 results</a>

                </div>
                <div class="govuk-grid-column-one-half">


                    <span class="listing-view-link is-active" title="List view">
                        <svg viewBox="0 0 23.604 15" id="search-icon--list-icon" width="8%" height="8%"><path d="M0 0h6.953v4.234H0zm0 5.366h6.953V9.6H0zm0 5.366h6.953v4.234H0zM8.156 0h15.448v4.234H8.156zm0 5.366h15.448V9.6H8.156zm0 5.366h15.448v4.234H8.156z"></path></svg>
                        <i class="icon icon-list"></i>List</span>


                    <a href="map" class="" title="Map view" style="z-index: 999">
                        <svg viewBox="0 0 10.883 15.927" id="search-icon--map-pointer-icon" width="4%" height="4%"><path d="M5.442 0A5.441 5.441 0 0 0 0 5.442c0 5.08 5.442 10.485 5.442 10.485s5.442-5.222 5.442-10.485A5.442 5.442 0 0 0 5.442 0zm.01 6.016a1.798 1.798 0 1 1 .002-3.596 1.798 1.798 0 0 1-.001 3.596z"></path></svg>
                        Map</a>


                </div>
                </div>

            <div class="govuk-grid-column-full">

              <h3><a href="#">Advanced Diploma in Child Care Studies</a></h3>
            </div>
            <div class="govuk-grid-column-one-half"> <span>Solihull College</span><br/>
              <span>Location: 1 High St, B91 1TY</span><br/>
              <span>Distance: 1.2 miles > <a href="#">Journey time</a></span><br/>
              <span>Duration: 1 year</span>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8"> <span>Full Time | Classroom | Daytime</span><br/>
              <span>Level 3</span><br/>
              <span>Diploma</span><br/>
              <span>Start date: 3rd September 2018</span>
            </div>
           <!-- <div class="govuk-grid-column-one-third"> <img src="/public/images/map.png" alt="Map" class="img-responsive" />
            </div>-->

              <div class="govuk-grid-column-full">
              <h3><a href="#">National Academy in Child Care Studies</a></h3>
          </div>
              <div class="govuk-grid-column-one-half"> <span>Solihull College</span><br/>
                  <span>Location: 1 High St, B91 1TY</span><br/>
                  <span>Distance: 1.2 miles > <a href="#">Journey time</a></span><br/>
                  <span>Duration: 1 year</span>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8"> <span>Full Time | Classroom | Daytime</span><br/>
                  <span>Level 5</span><br/>
                  <span>Diploma</span><br/>
                  <span>Start date: 3rd September 2018</span>
              </div>

              <div class="govuk-grid-column-full">
                  <h3><a href="#">National Academy in Child Care Studies</a></h3>
              </div>
              <div class="govuk-grid-column-one-half"> <span>Solihull College</span><br/>
                  <span>Location: 1 High St, B91 1TY</span><br/>
                  <span>Distance: 1.2 miles > <a href="#">Journey time</a></span><br/>
                  <span>Duration: 1 year</span>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8"> <span>Full Time | Classroom | Daytime</span><br/>
                  <span>Level 5</span><br/>
                  <span>Diploma</span><br/>
                  <span>Start date: 3rd September 2018</span>
              </div>



              <div class="govuk-grid-column-full">
                  <h3><a href="#">National Academy in Child Care Studies</a></h3>
              </div>
              <div class="govuk-grid-column-one-half"> <span>Solihull College</span><br/>
                  <span>Location: 1 High St, B91 1TY</span><br/>
                  <span>Distance: 1.2 miles > <a href="#">Journey time</a></span><br/>
                  <span>Duration: 1 year</span>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8"> <span>Full Time | Classroom | Daytime</span><br/>
                  <span>Level 5</span><br/>
                  <span>Diploma</span><br/>
                  <span>Start date: 3rd September 2018</span>
              </div>

              <div class="govuk-grid-column-full">
                  <h3><a href="#">National Academy in Child Care Studies</a></h3>
              </div>
              <div class="govuk-grid-column-one-half"> <span>Solihull College</span><br/>
                  <span>Location: 1 High St, B91 1TY</span><br/>
                  <span>Distance: 1.2 miles > <a href="#">Journey time</a></span><br/>
                  <span>Duration: 1 year</span>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8"> <span>Full Time | Classroom | Daytime</span><br/>
                  <span>Level 5</span><br/>
                  <span>Diploma</span><br/>
                  <span>Start date: 3rd September 2018</span>
              </div>


              <div class="govuk-grid-column-full">
                  <h3><a href="#">National Academy in Child Care Studies</a></h3>
              </div>
              <div class="govuk-grid-column-one-half"> <span>Solihull College</span><br/>
                  <span>Location: 1 High St, B91 1TY</span><br/>
                  <span>Distance: 1.2 miles > <a href="#">Journey time</a></span><br/>
                  <span>Duration: 1 year</span>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8"> <span>Full Time | Classroom | Daytime</span><br/>
                  <span>Level 5</span><br/>
                  <span>Diploma</span><br/>
                  <span>Start date: 3rd September 2018</span>
              </div>

              <div class="govuk-grid-column-full">
                  <h3><a href="#">National Academy in Child Care Studies</a></h3>
              </div>
              <div class="govuk-grid-column-one-half"> <span>Solihull College</span><br/>
                  <span>Location: 1 High St, B91 1TY</span><br/>
                  <span>Distance: 1.2 miles > <a href="#">Journey time</a></span><br/>
                  <span>Duration: 1 year</span>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8"> <span>Full Time | Classroom | Daytime</span><br/>
                  <span>Level 5</span><br/>
                  <span>Diploma</span><br/>
                  <span>Start date: 3rd September 2018</span>
              </div>





              <p style="padding-left: 20px;">&lt;-&nbsp;&nbsp;1&nbsp;&nbsp;<a href="#">2</a>&nbsp;&nbsp;<a href="#">3</a>&nbsp;&nbsp;-&gt;
              </p>


          </div>

      </div>
    </main>
</div>


{% endblock %}