.env
.sass-cache
.DS_Store
.start.pid
.port.tmp
public
lib/govuk_template.html
govuk_modules
node_modules/*
.tmuxp.*
package-lock.json

logs
project/project
project/target
target
lib_managed
tmp
.history
dist
/.idea
/*.iml
/*.ipr
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws
.env
node_modules

.env
.sass-cache
.DS_Store
.start.pid
.port.tmp
lib/govuk_template.html
govuk_modules
node_modules/*
.tmuxp.*
package-lock.json

/node_modules/*
/global/admin/public/
/views/
/app/*/public/stylesheets/application.css
/global/public/javascripts/*
/global/public/images/*
/global/public/node_modules/*
npm-debug.log
.idea/
*db
app/custominput/personalList.json
package-lock.json
.DS_Store
app/*/views/.DS_Store