{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">



        <form>
            <a class="back-to-previous" href="index.html">Back <span class="visuallyhidden"> to the previous question</span></a>
            <div class="form-group">
                <fieldset class="inline">

                    <legend>
                        <h2 class="heading-medium">
                            Supplier Location Details
                        </h2>
                    </legend>

                    <label for="address_postcode">
                        Postcode
                    </label>
                    <div class="validation-wrapper ">
                        <input type="text" id="address_postcode" name="address.postcode" value="" autocomplete="off" class="text postcode medium validate " data-validation-name="postcode" data-validation-type="field" data-validation-rules="nonEmpty postcode">
                    </div>
                    <br>
                    <a id="find-address" type="submit" class="button next validation-submit" data-validation-sources="postcode" href="2">
                        Find address
                    </a>
                        <br>
                        <br>

                    <details>
                        <summary class="[modifier class]">I don’t know what postcode to use</summary>
                        <div class="help-content">
                            <h2 class="visuallyhidden">I don’t know what postcode to use</h2>
                            <p>
                                If you can’t find your postcode on a letter or other document, try entering your address into a search engine website.
                            </p>
                            <h4>If you have more than one address</h4>
                            <p>
                                It’s sometimes possible to register at two addresses (though you can only vote once in any election).
                            </p>
                            <p>
                                For example, if you’re a student living away from home, you may be able to register at both your home and term time addresses.
                            </p>
                            <p>
                                If you want to register at two addresses, make two separate applications through this service. Your local Electoral Registration Office will look at each application and tell you whether you’re allowed to register.
                            </p>
                            <h4>If you don’t have a permanent address</h4>
                            <p>
                                If you’re homeless and living in temporary accommodation (for example, a long term hostel), use that address.
                            </p>
                            <p>
                                If you’re a long term patient in a psychiatric hospital, use the address of the hospital.
                            </p>
                            <p>
                                If you’re a prisoner on long term remand, use the address of the prison.
                            </p>
                        </div>
                    </details>


                        <br>

                </fieldset>
            </div>
        </form>


    </div>
  </div>
</main>

{% endblock %}


<fieldset>
    <p>Enter the postcode where you live and where you would like to register to vote.</p>
    <label for="address_postcode">
        Postcode
    </label>
    <div class="validation-wrapper ">
        <input type="text" id="address_postcode" name="address.postcode" value="" autocomplete="off" class="text postcode medium validate " data-validation-name="postcode" data-validation-type="field" data-validation-rules="nonEmpty postcode">
    </div>
    <button id="find-address" type="submit" class="button next validation-submit" data-validation-sources="postcode">
        Find address
    </button>
</fieldset>