{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">



        <form>
            <a class="back-to-previous" href="1.html">Back <span class="visuallyhidden"> to the previous question</span></a><header class="">
            <legend>
                <h2 class="heading-medium">
                    Supplier Location Details
                </h2>
            </legend>

                <span class="postcode-prefix">Postcode</span>
                <span class="visuallyhidden">:</span><br><br>
                <span class="postcode">nw17re</span>
                <a href="/register-to-vote/address" class="change-postcode-button">
                    Change<span class="visuallyhidden"> your postcode</span>
                </a>



            <fieldset>
                <input type="hidden" id="address_postcode" name="address.postcode" value="nw17re" class="text hidden">
                <br>
                <label for="address_uprn">
                    <span class="visuallyhidden">Select your </span>Address
                </label>
                <div class="validation-wrapper ">
                    <select id="address_uprn" name="address.uprn" class="lonely validate " data-validation-name="addressSelect" data-validation-type="field" data-validation-rules="nonEmpty">
                        <option value="">48 addresses found</option>
                        <option value="5122234">25b Mornington Crescent, London, Camden</option>
                        <option value="5122228" selected="selected">Flat 10, 25 Mornington Crescent, London, Camden</option>
                        <option value="5122229">Flat 11, 25 Mornington Crescent, London, Camden</option>
                        <option value="5122230">Flat 2, 25 Mornington Crescent, London, Camden</option>
                        <option value="5122231">Flat 3, 25 Mornington Crescent, London, Camden</option>
                        <option value="5122232">Flat 4, 25 Mornington Crescent, London, Camden</option>
                        <option value="5122233">Flat 5, 25 Mornington Crescent, London, Camden</option>
                        <option value="5122235">Flat 7, 25 Mornington Crescent, London, Camden</option>
                        <option value="5122236">Flat 8, 25 Mornington Crescent, London, Camden</option>
                        <option value="5122237">Flat 9, 25 Mornington Crescent, London, Camden</option>
                        <option value="5169031">26 Mornington Crescent, London, Camden</option>
                        <option value="5169032">26a Mornington Crescent, London, Camden</option>
                        <option value="5075431">Basement Flat, 27 Mornington Crescent, London, Camden</option>
                        <option value="5118971">Flat B, 27 Mornington Crescent, London, Camden</option>
                        <option value="5118972">Flat C, 27 Mornington Crescent, London, Camden</option>
                        <option value="5118975">Flat D, 27 Mornington Crescent, London, Camden</option>
                        <option value="5172253">28a Mornington Crescent, London, Camden</option>
                        <option value="5169903">Flat 1, 28 Mornington Crescent, London, Camden</option>
                        <option value="5169904">Flat 2, 28 Mornington Crescent, London, Camden</option>
                        <option value="5169905">Flat 3, 28 Mornington Crescent, London, Camden</option>
                        <option value="5169906">Flat 4, 28 Mornington Crescent, London, Camden</option>
                        <option value="5098523">Flat Lower Ground Floor, 28 Mornington Crescent, London, Camden</option>
                        <option value="5155797">Flat 2, 29 Mornington Crescent, London, Camden</option>
                        <option value="5155798">Flat 2nd Floor Rear, 29 Mornington Crescent, London, Camden</option>
                        <option value="5156464">Flat 3rd Floor Front, 29 Mornington Crescent, London, Camden</option>
                        <option value="5155799">Flat Lower Ground Floor Front, 29 Mornington Crescent, London, Camden</option>
                        <option value="5155800">Maisonette Rear Of Lower Ground Ground 1st And Rear Of 3rd Floor, 29 Mornington Crescent, London, Camden</option>
                        <option value="5169908">Flat 1, 30 Mornington Crescent, London, Camden</option>
                        <option value="5169909">Flat 2, 30 Mornington Crescent, London, Camden</option>
                        <option value="5169910">Flat 3, 30 Mornington Crescent, London, Camden</option>
                        <option value="5169911">Flat 4, 30 Mornington Crescent, London, Camden</option>
                        <option value="5169907">Flat A, 30 Mornington Crescent, London, Camden</option>
                        <option value="5078753">Basement Flat, 31 Mornington Crescent, London, Camden</option>
                        <option value="5125436">Flat 3rd Floor, 31 Mornington Crescent, London, Camden</option>
                        <option value="5119073">Flat B, 31 Mornington Crescent, London, Camden</option>
                        <option value="5119076">Flat C, 31 Mornington Crescent, London, Camden</option>
                        <option value="5119077">Flat D, 31 Mornington Crescent, London, Camden</option>
                        <option value="5099260">Flat 1, 32 Mornington Crescent, London, Camden</option>
                        <option value="5099258">Flat 1st Floor, 32 Mornington Crescent, London, Camden</option>
                        <option value="5099259">Flat 2nd Floor, 32 Mornington Crescent, London, Camden</option>
                        <option value="5099257">Flat 3rd Floor, 32 Mornington Crescent, London, Camden</option>
                        <option value="5172464">Maisonette 1st And 2nd Floor, 33 Mornington Crescent, London, Camden</option>
                        <option value="5172463">Maisonette Basement And Ground Floor, 33 Mornington Crescent, London, Camden</option>
                        <option value="5000712">34 Mornington Crescent, London, Camden</option>
                        <option value="5099597">Flat B, 35 Mornington Crescent, London, Camden</option>
                        <option value="5099594">Flat Basement And Ground Floor, 35 Mornington Crescent, London, Camden</option>
                        <option value="5099595">Flat C, 35 Mornington Crescent, London, Camden</option>
                        <option value="5099596">Flat D, 35 Mornington Crescent, London, Camden</option>
                    </select>
                </div>
            </fieldset>
            <a href="#" class="toggle">
                I can’t find my address in the list<span class="visuallyhidden"> section</span>
            </a>
<br>
            <a href="3.html" type="submit" id="continue" class="button next validation-submit" data-validation-sources="addressSelect">
                Continue
            </a>
            <input type="hidden" id="possibleAddresses_jsonList" name="possibleAddresses.jsonList" value="{&quot;addresses&quot;:[]}" class="text hidden">
            <input type="hidden" id="possibleAddresses_postcode" name="possibleAddresses.postcode" value="nw17re" class="text  hidden">
        </form>

    </div>
  </div>
</main>

{% endblock %}


<fieldset>
    <p>Enter the postcode where you live and where you would like to register to vote.</p>
    <label for="address_postcode">
        Postcode
    </label>
    <div class="validation-wrapper ">
        <input type="text" id="address_postcode" name="address.postcode" value="" autocomplete="off" class="text postcode medium validate " data-validation-name="postcode" data-validation-type="field" data-validation-rules="nonEmpty postcode">
    </div>
    <button id="find-address" type="submit" class="button next validation-submit" data-validation-sources="postcode">
        Find address
    </button>
</fieldset>