{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">



        <form>
            <a class="back-to-previous" href="2.html">Back <span class="visuallyhidden"> to the previous question</span></a><header class="">
            <br>
            <legend>
                <h2 class="heading-medium">
                    Supplier Location Details
                </h2>
            </legend>

            <div class="form-group">
                <label class="form-label" for="supplier-name">Telephone Number</label>
                <input class="form-control" id="supplier-name" name="supplier-name" type="text">
            </div>

            <div class="form-group">
                <label class="form-label" for="supplier-name">Remittance Email Address</label>
                <input class="form-control" id="supplier-name" name="supplier-name" type="text">
            </div>

            <div class="form-group">
                <label class="form-label" for="supplier-name">Companies House Number</label>
                <input class="form-control" id="supplier-name" name="supplier-name" type="text">
            </div>

            <a href="4.html" class="button" type="submit" value="Save and continue">Save and continue</a>



        </form>

    </div>
  </div>
</main>

{% endblock %}


<fieldset>
    <p>Enter the postcode where you live and where you would like to register to vote.</p>
    <label for="address_postcode">
        Postcode
    </label>
    <div class="validation-wrapper ">
        <input type="text" id="address_postcode" name="address.postcode" value="" autocomplete="off" class="text postcode medium validate " data-validation-name="postcode" data-validation-type="field" data-validation-rules="nonEmpty postcode">
    </div>
    <button id="find-address" type="submit" class="button next validation-submit" data-validation-sources="postcode">
        Find address
    </button>
</fieldset>