{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">



        <form>
            <a class="back-to-previous" href="3.html">Back <span class="visuallyhidden"> to the previous question</span></a>
            <br>
            <legend>
                <h2 class="heading-medium">
                    Other Supplier / Site Details
                </h2>
            </legend>
            <fieldset>
            <legend>
                <p>
                    Are you part of the Construction Industry Scheme (CIS)?
                </p>
            </legend>

            <div class="multiple-choice">
                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                <label for="radio-inline-1">Yes</label>
            </div>
            <div class="multiple-choice">
                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                <label for="radio-inline-2">No</label>
            </div>
            </fieldset>
            <br>

            <div class="form-group">
                <label class="form-label" for="supplier-name">DUNS Number</label>
                <input class="form-control" id="supplier-name" name="supplier-name" type="text">
            </div>

            <div class="form-group">
                <label class="form-label" for="supplier-name">VAT Registration Number</label>
                <input class="form-control" id="supplier-name" name="supplier-name" type="text">
            </div>

            <a href="5.html" class="button" type="submit" value="Save and continue">Save and continue</a>



        </form>

    </div>
  </div>
</main>

{% endblock %}


