{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<style xmlns="http://www.w3.org/1999/html">

    .govuk-checkboxes__label {padding-top:0}

    .govuk-related-items {
        margin-top: 30px;
        border-top: 10px solid #005ea5;
        padding-top: 5px;
    }
    .link-back {
        display: -moz-inline-stack;
        display: inline-block;
        position: relative;
        font-family: "nta", Arial, sans-serif;
        font-size: 14px;
        line-height: 1.1428571429;
        font-weight: 400;
        text-transform: none;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 14px;
        color: #0b0c0c;
        text-decoration: none;
        border-bottom: 1px solid #0b0c0c;

    }
    .link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
        color: #0b0c0c;
    }
    .link-back::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 6px solid #0b0c0c;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
    #map {
        height: 400px;
        width: 100%;
    }
	
	.enrol-text {
		position: relative;top: -25px; font-size: 14px;
	}
	
	@media all and (max-width: 640px) {
		.enrol-text {
			margin-top:12px;
		}
		.share-links li {
			margin:5px !important;
		}
	}
	
	.pnl {
	
		border:solid 1px #000;
		padding:20px;
		margin:5px;
	
	}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<div class="govuk-body" style="color: white;font-size: 16px;
    position: relative;
    top: -88px;
    padding-left:80%;">
    <a href="account-management" class="govuk-link" style="color: white;margin-left: 10px">Emir Appleseed</a>
    <a href="index" class="govuk-link" style="color: white;margin-left: 10px">Sign out</a>
</div>



<main id="content" role="main">

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="your-courses">Course directory</a></li>


    </ol>
</div>




<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l" style="padding-top: 20px;">
            Your venues
        </h1>
	</div>	

    <div class="govuk-grid-column-full">
	
	
	
	<!--TABS-->
	
	<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#live">
        Live
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#archived">
        Archived
      </a>
    </li>

  </ul>

  <section class="govuk-tabs__panel" id="live">
    
              <div class="form-group govuk-checkboxes">
                 
                      <div class="govuk-checkboxes__item">
                          <label class="govuk-label govuk-checkboxes__label" for="study0" >Stratford campus<br/>
Welfare Road<br/>
Stratford<br/>
Greater London<br/>
E15 4H<br/><a href="edit-venue?name=Stratford campus&street1=Welfare Road&street2=Stratford&city=Greater London&pc=E15 4H">Edit</a>


                              <br><a href="your-venues-cannot-archive">Archive</a>
                          </label>
                           </div>
					  
                      <div class="govuk-checkboxes__item">
                          <label class="govuk-label govuk-checkboxes__label" for="study0" >Eastleigh campus<br>
Chestnut Avenue<br/>
Eastleigh<br/>
Hampshire<br/>
SO50 5FS<br/><a href="edit-venue?name=Eastleigh campus&street1=Chestnut Avenue&street2=Eastleigh&city=Hampshire&pc=SO50 5FS">Edit</a>
                              <br><a href="your-venues-cannot-archive">Archive</a></label>
                      </div>

					  <div class="govuk-checkboxes__item">
                          <label class="govuk-label govuk-checkboxes__label" for="study0" >Salford campus<br>
Lissadel Street<br/>
Salford<br/>
M6 6AP<br/><a href="edit-venue?name=Salford campus&street1=Lissadel Street&street2=&city=Salford&pc=M6 6AP">Edit</a>
                              <br><a href="your-venues-cannot-archive">Archive</a></label>
                      </div>
					  
              </div>

      <div class="govuk-form-group" style="margin-top:30px;">
      </div>
      <a href="your-venues-archive-confirm">Archive happy path</a>



  </section>
  
  

  <section class="govuk-tabs__panel" id="archived">

      <div class="govuk-checkboxes__item">
          <label class="govuk-label govuk-checkboxes__label" for="study0" >Olympia campus<br>
              Pownall Street<br/>
              Bedford<br/>
              M6 6AP<br><a href="your-venues-restore-confirm">Unarchive</a>
          </label>
      </div>







  </section>

</div>

<!--END TABS-->


        <div class="govuk-form-group" style="margin-top:30px;">
            <a href="add-venue" role="button" class="govuk-button">
                + Add new venue
            </a>
        </div>


    </div>
	

		
	</div>	





</main>
{% endblock %}