{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<style xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    .govuk-input--width-4 {
        width: 9ex!important;
    }

    .govuk-related-items {
        margin-top: 30px;
        border-top: 10px solid #005ea5;
        padding-top: 5px;
    }
    .link-back {
        display: -moz-inline-stack;
        display: inline-block;
        position: relative;
        font-family: "nta", Arial, sans-serif;
        font-size: 14px;
        line-height: 1.1428571429;
        font-weight: 400;
        text-transform: none;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 14px;
        color: #0b0c0c;
        text-decoration: none;
        border-bottom: 1px solid #0b0c0c;

    }
    .link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
        color: #0b0c0c;
    }
    .link-back::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 6px solid #0b0c0c;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
    #map {
        height: 400px;
        width: 100%;
    }
	
	.enrol-text {
		position: relative;top: -25px; font-size: 14px;
	}
	
	@media all and (max-width: 640px) {
		.enrol-text {
			margin-top:12px;
		}
		.share-links li {
			margin:5px !important;
		}
	}
	
	.pnl {
	
		border:solid 1px #000;
		padding:20px;
		margin:5px;
	
	}

    .btn-gr button{width: 145px}


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
$(document).ready(function(e) {

    $( "#venues-show" ).click(function() {
        $( ".venues-panel" ).toggle( "slow", function() {
            // Animation complete.
        });
    });

    $( "#mode-show" ).click(function() {
        $( ".mode-panel" ).toggle( "slow", function() {
            // Animation complete.
        });
    });

});
</script>




<main id="content" role="main">

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="index">Course directory</a></li>


    </ol>
</div>

<div style="float:right;text-align:right;" class="govuk-body">
Logged in: <strong>Mr. Applseed</strong><br/>
<a href="account-management" class="govuk-link">Settings</a>
</div>



<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l" style="padding-top: 20px;">
            Add a new course
        </h1>
	</div>	

    <div class="govuk-grid-column-two-thirds">
	
	
	
	<!--add n course-->
	
	<div class="pnl" style="padding-top: 25px; margin: 0">




                <div class="govuk-form-group">

                <input class="govuk-input" placeholder="Qualification" style="margin-right: 10px; width: 80%"> <button class="govuk-button" value="Search" type="submit">Search</button>

                 </div>

<label class="govuk-label">Course title</label>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<h1 class="govuk-heading-l">Family Learning - Kites & Wind Streamers <i class="fas fa-edit" style="font-size: 25px"></i></h1>


        <button id="venues-show" class="govuk-button" value="Search" type="submit">Select venue for this course</button>


        <div style="display: none" class="venues-panel">
        <div class="form-group govuk-checkboxes">

            <div class="govuk-checkboxes__item">
                <input id="study0" name="study" type="checkbox" value="0" class="govuk-checkboxes__input">
                <label class="govuk-label govuk-checkboxes__label" for="study0" >Oxford campus</label>
            </div>

            <div class="govuk-checkboxes__item">
                <input id="study0" name="study" type="checkbox" value="0" class="govuk-checkboxes__input" checked="checked">
                <label class="govuk-label govuk-checkboxes__label" for="study0" >Cambridge campus</label>
            </div>

            <div class="govuk-checkboxes__item">
                <input id="study0" name="study" type="checkbox" value="0" class="govuk-checkboxes__input">
                <label class="govuk-label govuk-checkboxes__label" for="study0" >Eton campus</label>
            </div>

            <div class="govuk-checkboxes__item">
                <input id="study0" name="study" type="checkbox" value="0" class="govuk-checkboxes__input">
                <label class="govuk-label govuk-checkboxes__label" for="study0" >St Mary</label>
            </div>


        </div>

        </div>

        <div class="btn-gr">
            <label class="govuk-label">Study mode</label>
            <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Full-time</button>
            <button id="venues-show" class="govuk-button govuk-colour" value="Search" type="submit" style="background:#2b8cc4	;color: #000000; border:2px solid black">Part-time</button>
            <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Flexible</button>
        </div>


        <button id="mode-show" class="govuk-button" value="Search" type="submit">Customise for each venue</button>

<div class="mode-panel" style="display: none">


    <div class="govuk-checkboxes__item">
        <input id="study0" name="study" type="checkbox" value="0" class="govuk-checkboxes__input" checked="checked">
        <label class="govuk-label govuk-checkboxes__label" for="study0" >Oxford campus</label>
    </div>

    <div class="btn-gr">
        <label class="govuk-label">Study mode</label>
        <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Full-time</button>
        <button id="venues-show" class="govuk-button govuk-colour" value="Search" type="submit" style="background:#2b8cc4	;color: #000000; border:2px solid black">Part-time</button>
        <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Flexible</button>
    </div>


    <div class="govuk-checkboxes__item">
        <input id="study0" name="study" type="checkbox" value="0" class="govuk-checkboxes__input" checked="checked">
        <label class="govuk-label govuk-checkboxes__label" for="study0" >Cambridge campus</label>
    </div>

    <div class="btn-gr">
        <label class="govuk-label">Study mode</label>
        <button id="venues-show" class="govuk-button govuk-colour" value="Search" type="submit" style="background:#2b8cc4	;color: #000000; border:2px solid black">Full-time</button>
        <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Part-time</button>

        <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Flexible</button>
    </div>

</div>

        <h3 class="govuk-heading-s">Course description</h3>

        <label class="govuk-label">What is the course about and what does it cover?</label>
        <textarea class="govuk-textarea"  placeholder="Very broad description of the themes" style="margin-right: 10px; width: 80%"></textarea>
<div class="clearfix" style="height: 10px;display: block;margin-top: 20px"></div>
            <label class="govuk-label">How is the course structured?</label>
        <textarea class="govuk-textarea"  placeholder="Optional - may be useful for vocational courses which combine classroom and practical work?" style="margin-right: 10px; width: 80%">
            </textarea>
        <label class="govuk-label"> What will you learn?</label>
        <textarea class="govuk-textarea"  placeholder="Optional - very useful for vocational courses where the student is learning a set of skills" style="margin-right: 10px; width: 80%">
        </textarea>
        <label class="govuk-label">Do you need any particular skills or knowledge?</label>
        <textarea class="govuk-textarea"  placeholder="Optional: this is more about skills than academic achievements" style="margin-right: 10px; width: 80%">
        </textarea>
                        <label class="govuk-label">Where could this course take you -<br> what could it do for your career?</label>
        <textarea class="govuk-textarea" placeholder="Think career" style="margin-right: 10px; width: 80%">
        </textarea>





        <h3 class="govuk-heading-s">Entry requirements</h3>

        <label class="govuk-label">Describe your entry requirements</label>
        <textarea class="govuk-textarea"  placeholder="" style="margin-right: 10px; width: 80%"></textarea>



                    <h3 class="govuk-heading-s">
                        What is your start date?
                    </h3>
    <span id="dob-hint" class="govuk-hint">
      For example, 31 3 1980
    </span>
                <div class="govuk-date-input" id="dob">

                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-day">
                                Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                        </div>
                    </div>

                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-month">
                                Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                        </div>
                    </div>

                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-year">
                                Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4 " id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                        </div>
                    </div>
                </div>





                <h3 class="govuk-heading-s">
                   Course duration
                </h3>

                <div class="govuk-date-input" id="dob">

                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-day">
                                Day(s)
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                        </div>
                    </div>

                    <div class="govuk-date-input__item" style="margin-right: 50px">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-month">
                                Month(s)
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                        </div>
                    </div>

                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-year">
                                Year(s)
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4 " id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                        </div>
                    </div>
                </div>




                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-line-1">
                        What you’ll need to bring<span class="govuk-visually-hidden">line 1 of 2</span>
                    </label>
                    <textarea class="govuk-textarea" id="address-line-1" name="address-line-1" type="text"></textarea>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-line-1">
                       Enrol now URL<span class="govuk-visually-hidden">line 1 of 2</span>
                    </label>
                    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
                </div>
                 <div class="govuk-form-group">
                    <label class="govuk-label" for="address-line-1">
                        How you’ll be assessed<span class="govuk-visually-hidden">line 1 of 2</span>
                    </label>
                    <textarea class=" govuk-textarea" id="address-line-1" name="address-line-1" type="text"></textarea>
                </div>


                <div class="govuk-form-group">
                    <a href="published" role="button" class="govuk-button govuk-button--start">
                       Publish now
                    </a><p>Or <a href="#">Preview</a></p>
                </div>




    </div>



<!--END add new c-->
	

	</div>	
	
	
	
	    <div class="govuk-grid-column-one-third">

            <div class="pnl">
                <h3 class="govuk-heading-s">Bulk upload</h3>

                <div class="govuk-form-group">
                    <a href="bulk-upload" role="button" class="govuk-button govuk-button--start">
                        Start now
                    </a>
                </div>

            </div>
		
				<div class="pnl">
				
				<h3 class="govuk-heading-s">Your venues</h3>
				
		 <ul class="govuk-list" style="padding-left:20px;padding-top:20px;">
		  <li>
			<a class="govuk-link" href="#">View your venues</a>
		  </li>
		  <li>
			<a class="govuk-link" href="#">Update venues</a>
		  </li>
		  	<li>
			<a class="govuk-link" href="#">Add venues</a>
		  </li>
		</ul>

		<div class="govuk-form-group">
		<a href="your-venues" role="button" class="govuk-button govuk-button--start">
		  Start now
		</a>
		</div>
	
		</div>





                <div class="pnl">

                    <h3 class="govuk-heading-s">
                        Help
                    </h3>

                    <div class="govuk-form-group">
                        <a href="#" role="button" class="govuk-button govuk-button--start">
                            Start now
                        </a>
                    </div>
                </div>


		
	</div>	






</main>
{% endblock %}


        <!--
                course
                        https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=54767187
                                -->