{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<style xmlns="http://www.w3.org/1999/html">
    .govuk-related-items {
        margin-top: 30px;
        border-top: 10px solid #005ea5;
        padding-top: 5px;
    }
    .link-back {
        display: -moz-inline-stack;
        display: inline-block;
        position: relative;
        font-family: "nta", Arial, sans-serif;
        font-size: 14px;
        line-height: 1.1428571429;
        font-weight: 400;
        text-transform: none;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 14px;
        color: #0b0c0c;
        text-decoration: none;
        border-bottom: 1px solid #0b0c0c;

    }
    .link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
        color: #0b0c0c;
    }
    .link-back::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 6px solid #0b0c0c;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
    #map {
        height: 400px;
        width: 100%;
    }
	
	.enrol-text {
		position: relative;top: -25px; font-size: 14px;
	}
	
	@media all and (max-width: 640px) {
		.enrol-text {
			margin-top:12px;
		}
		.share-links li {
			margin:5px !important;
		}
	}
	
	.pnl {
	
		border:solid 1px #000;
		padding:20px;
		margin:5px;
	
	}
	
	h3 {
		width:100%;
		margin-bottom:20px;
		clear:both;
	}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<main id="content" role="main">

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="index">Course directory add course</a></li>


    </ol>
</div>

<div style="float:right;text-align:right;" class="govuk-body">
Logged in: <strong>Mr. Appleseed</strong><br/>
<a href="#" class="govuk-link">Help</a>&nbsp;&nbsp;&nbsp;
<a href="account-management" class="govuk-link">Your account</a>
</div>



<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l" style="padding-top: 20px;">
            Add a course
        </h1>
		
		<div class="govuk-form-group">
		  <label class="govuk-label" for="level">
			Course level
		  </label>
		  <select class="govuk-select" id="level" name="level">
			<option value="1">Level 1</option>
			<option value="2">Level 2</option>
			<option value="3" selected>Level 3</option>
			<option value="4">Level 4</option>
			<option value="5">Level 5</option>
		  </select>
		</div>
		
		<div class="govuk-form-group">
		  <label class="govuk-label" for="type">
			Qualification type
		  </label>
		  <select class="govuk-select" id="type" name="type">
			<option value="A" select>A level</option>
			<option value="B">AS level</option>
			<option value="C">Btech</option>

		  </select>
		</div>

		<div class="govuk-form-group">
		  <label class="govuk-label" for="sub">
			Course subject
		  </label>
		  <input class="govuk-input" id="sub" name="sub" type="text" style="width:85%;float:left;"/>
		  <input class="submit govuk-button" type="submit" value="Search" style="width:12%;float:right;"/>
		</div>
		
		
		<div class="govuk-form-group" style="clear:both;margin-top:80px;">
		  <label class="govuk-label">
			Course title
		  </label>
		  <p class="govuk-heading-s"> Matehmatics with Further Mathematics A level <a href="#" style="margin-left: 15px;"><i class="far fa-edit"></i> Edit</a></p>
		</div>
	
		
		<h3 class="govuk-heading-m">Select course venue</h3>
		
		<div class="govuk-form-group" style="margin-bottom:100px;">
		  <label class="govuk-label" for="sub">
			
		  </label>
		 <select class="govuk-select" id="level" name="level" style="float:left;width:85%;">
			<option value="1">Newham College</option>
			<option value="1">Newham College</option>
			<option value="1">Newham College</option>
			<option value="1">Newham College</option>

		  </select>
		  <input class="submit govuk-button" type="submit" value="Add venue >" style="width:12%;float:right;"/>
		</div>

		<div class="govuk-form-group" style="clear:both;">
		  <label class="govuk-label" for="sub">
			Entry requirements
		  </label>
		  <input class="govuk-input" id="sub" name="sub" type="text"/>
		  
		</div>	

		<div class="govuk-form-group">
		  <label class="govuk-label" for="sub">
			Cost
		  </label>
		  <input class="govuk-input" id="sub" name="sub" type="text" style="margin-bottom:20px;"/>
		  <input class="govuk-input" id="sub" name="sub" type="text"/>
		</div>	
		
		
			<div class="govuk-form-group">
		  <label class="govuk-label" for="sub">
			Start date
		  </label>

		</div>	
		
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
                <label class="govuk-label" for="sub">
                    Duration
                </label>
                <div class="govuk-date-input" id="dob">

                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-day">
                                Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                        </div>
                    </div>

                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-month">
                                Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>




        <div class="btn-gr">
            <label class="govuk-label">Full time or part time</label>
            <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Full-time</button>
            <button id="venues-show" class="govuk-button govuk-colour" value="Search" type="submit" style="background:#2b8cc4	;color: #000000; border:2px solid black">Part-time</button>
            <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Flexible</button>
            <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Online</button>
        </div>



				<div class="govuk-form-group">
		  <label class="govuk-label" for="level">
			Day, night or weekend
		  </label>
		  <select class="govuk-select" id="level" name="level">
			<option value="1" selected>Normal working hours</option>
			<option value="2">Day</option>
			<option value="3">Night</option>
		  </select>
		</div>
		
				<div class="govuk-form-group">
		  <label class="govuk-label" for="level">
			Classroom or online
		  </label>
		  <select class="govuk-select" id="level" name="level">
			<option value="1" selected>Classroom based</option>
			<option value="2">Online</option>
		  </select>
		</div>	

		<div class="govuk-form-group">
		  <label class="govuk-label" for="sub">
			Enrol now URL
		  </label>
		  <input class="govuk-input" id="sub" name="sub" type="text"/>
		</div>	
		
		
		<h3 class="govuk-heading-m">Course description</h3>
		
		<div class="govuk-form-group">
		  <label class="govuk-label" for="sub">
			What is the course about and what does it cover?
		  </label>
		  <textarea class="govuk-textarea" id="sub" name="sub" rows="6"></textarea> 
		</div>

				<div class="govuk-form-group">
		  <label class="govuk-label" for="sub">
			How is the course structured?
		  </label>
		  <textarea class="govuk-textarea" id="sub" name="sub" rows="6"></textarea> 
		</div>	
		
		<div class="govuk-form-group">
		  <label class="govuk-label" for="sub">
			What will your learn?
		  </label>
		  <textarea class="govuk-textarea" id="sub" name="sub" rows="6"></textarea> 
		</div>	
				
		
		<div class="govuk-form-group">
		  <label class="govuk-label" for="sub">
			What you'll need to bring
		  </label>
		  <input class="govuk-input" id="sub" name="sub" type="text"/>
		</div>	


				<div class="govuk-form-group">
		  <label class="govuk-label" for="sub">
			How you'll be assessed
		  </label>
		  <input class="govuk-input" id="sub" name="sub" type="text"/>
		</div>	
		
				<div class="govuk-form-group">
<a href="#" role="button" class="govuk-button govuk-button--start">
  Preview
</a>

<a href="#" role="button" class="govuk-button govuk-button--start">
  Save
</a>
		</div>
		
	</div>	

</div>

	<div class="govuk-grid-row">
	
		
		 <div class="govuk-grid-column-one-third">
		
				<div class="pnl">
				
				<h3 class="govuk-heading-s">Bulk upload</h3>
	
		<div class="govuk-form-group">
		<a href="bulk-upload" role="button" class="govuk-button govuk-button--start">
		  Start now
		</a>
		</div>
	
		</div>
		
	</div>	

</main>
{% endblock %}