{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<style xmlns="http://www.w3.org/1999/html">
    .govuk-related-items {
        margin-top: 30px;
        border-top: 10px solid #005ea5;
        padding-top: 5px;
    }
    .link-back {
        display: -moz-inline-stack;
        display: inline-block;
        position: relative;
        font-family: "nta", Arial, sans-serif;
        font-size: 14px;
        line-height: 1.1428571429;
        font-weight: 400;
        text-transform: none;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 14px;
        color: #0b0c0c;
        text-decoration: none;
        border-bottom: 1px solid #0b0c0c;

    }
    .link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
        color: #0b0c0c;
    }
    .link-back::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 6px solid #0b0c0c;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
    #map {
        height: 400px;
        width: 100%;
    }
	
	.enrol-text {
		position: relative;top: -25px; font-size: 14px;
	}
	
	@media all and (max-width: 640px) {
		.enrol-text {
			margin-top:12px;
		}
		.share-links li {
			margin:5px !important;
		}
	}
	
	.pnl {
	
		border:solid 1px #000;
		padding:20px;
		margin:5px;
	
	}
    .canvasjs-chart-canvas{font-family: "nta"!important;}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<main id="content" role="main">

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="index">Course directory</a></li>


    </ol>
</div>

    <div style="float:right;text-align:right;" class="govuk-body">
        Logged in: <strong>Mr. Appleseed</strong><br/>
        <a href="#" class="govuk-link">Help</a>&nbsp;&nbsp;&nbsp;
        <a href="account-management" class="govuk-link">Your account</a>
        <a href="account-management" class="govuk-link">Your account</a>
    </div>




    <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l" style="padding-top: 20px;">
           Upload your course
        </h1>
	</div>	


	
	
	<!--TABS--> <div class="govuk-grid-column-two-thirds">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <div class="pnl" style="position: relative; height: 300px">
      <p>Drag your file here</p>
<script>document.getElementById('get_file').onclick = function() {
    document.getElementById('my_file').click();
};</script><script>document.getElementById('get_file1').onclick = function() {
    document.getElementById('my_file1').click();
};</script>

      <a href="#" download id="get_file">
          <input type="file" id="my_file" style="display: none
         ">
      <i class="fas fa-plus-circle"  style="font-size: 65px; color: #989898;position: absolute;transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;"></i></a>

      <p style="position: absolute;
   bottom: 0;
   left: 20px;">Or <a href="#" download id="get_file1">Browse<input type="file" id="my_file1" style="display: none
         "></a> </p>
  </div>

        <div class="govuk-form-group" style="margin-top:35px;margin-left: 5px">
            <a href="your-courses" role="button" class="govuk-button govuk-button--start">
                Upload your courses
            </a>
        </div>

<!--END TABS--></div>
	


	
	
	





</div>

</main>
{% endblock %}