{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<style xmlns="http://www.w3.org/1999/html">
    .govuk-related-items {
        margin-top: 30px;
        border-top: 10px solid #005ea5;
        padding-top: 5px;
    }
    .link-back {
        display: -moz-inline-stack;
        display: inline-block;
        position: relative;
        font-family: "nta", Arial, sans-serif;
        font-size: 14px;
        line-height: 1.1428571429;
        font-weight: 400;
        text-transform: none;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 14px;
        color: #0b0c0c;
        text-decoration: none;
        border-bottom: 1px solid #0b0c0c;

    }
    .link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
        color: #0b0c0c;
    }
    .link-back::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 6px solid #0b0c0c;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
    #map {
        height: 400px;
        width: 100%;
    }
	
	.enrol-text {
		position: relative;top: -25px; font-size: 14px;
	}
	
	@media all and (max-width: 640px) {
		.enrol-text {
			margin-top:12px;
		}
		.share-links li {
			margin:5px !important;
		}
	}
	
	.pnl {
	
		border:solid 1px #000;
		padding:20px;
		margin:5px;
	
	}
	
	h3 {
		font-size:18px !important;
	}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<main id="content" role="main">

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="index">Course directory dashboard</a></li>


    </ol>
</div>

<div style="float:right;text-align:right;" class="govuk-body">
Logged in: <strong>Mr. Appleseed</strong><br/>
<a href="#" class="govuk-link">Help</a>&nbsp;&nbsp;&nbsp;
<a href="account-management" class="govuk-link">Your account</a>
</div>



<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l" style="padding-top: 20px;">
            Course directory
        </h1>
	</div>	

    <div class="govuk-grid-column-one-half">
<div class="pnl">
	<h3 class="govuk-heading-m">Courses</h3>
	
	 <ul class="govuk-list" style="padding-left:20px; padding-top:20px;">
		  <li>
			<a class="govuk-link" href="your-courses">View/edit courses</a> (28)
		  </li>
		  	<li>
			<a class="govuk-link" href="add-a-course">Add new courses</a>
		  </li>
		</ul>
	
	<h3 class="govuk-heading-m">Venues</h3>
	
	 <ul class="govuk-list" style="padding-left:20px; padding-top:20px;">
		  <li>
			<a class="govuk-link" href="your-venues">View/edit venues</a> (4)
		  </li>
		  	<li>
			<a class="govuk-link" href="#">Add new venues</a>
		  </li>
		</ul>	

		</div>
	</div>	
	
	    <div class="govuk-grid-column-one-half">

		<div class="pnl">
	<h3 class="govuk-heading-m">Apprenticeship training</h3>
	
	 <ul class="govuk-list" style="padding-left:20px; padding-top:20px;">
		  <li>
			<a class="govuk-link" href="#">View/edit apprenticnceships</a> (0)
		  </li>
		  <li>
			<a class="govuk-link" href="#">Add new apprenticnceships</a>
		  </li>
		</ul>
	
	<h3 class="govuk-heading-m">Locations</h3>
	
	 <ul class="govuk-list" style="padding-left:20px; padding-top:20px;">
		  <li>
			<a class="govuk-link" href="#">View/edit locations</a> (0)
		  </li>
		  <li>
			<a class="govuk-link" href="#">Add new locations</a>
		  </li>
		</ul>
		
		</div>
	</div>	


    </div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">

	<div class="pnl">
	
	<h3 class="govuk-heading-m">Apprenticeship training status</h3>
	
	 <ul class="govuk-list" style="padding-left:20px; padding-top:20px;">
		  <li>
			Out of date courses (1) <a class="govuk-link" href="#" style="float:right;">update &gt;</a>
		  </li>
		  <li>
			No learning aims (2) <a class="govuk-link" href="#" style="float:right;">update &gt;</a>
		  </li>
		  	<li>
			Expired learning aims (1) <a class="govuk-link" href="#" style="float:right;">update &gt;</a>
		  </li>
		</ul>
	
	</div>
	</div>
	    <div class="govuk-grid-column-one-half">

	<div class="pnl">
	
	<h3 class="govuk-heading-m">Course status</h3>
	
	 <ul class="govuk-list" style="padding-left:20px; padding-top:20px;">
		  	<li>
			Expired learning aims (1) <a class="govuk-link" href="#" style="float:right;">update &gt;</a>
		  </li>
		</ul>
	
	</div>
	
</div>

</div>

<div class="govuk-grid-row">
	
    <div class="govuk-grid-column-one-half">
	
	<div class="pnl">
	
		<img src="/public/images/chart.png" alt="Chart" style="width:100%;height:auto;" />
	</div>
</div>

</main>
{% endblock %}