{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<style xmlns="http://www.w3.org/1999/html">
    .govuk-related-items {
        margin-top: 30px;
        border-top: 10px solid #005ea5;
        padding-top: 5px;
    }
    .link-back {
        display: -moz-inline-stack;
        display: inline-block;
        position: relative;
        font-family: "nta", Arial, sans-serif;
        font-size: 14px;
        line-height: 1.1428571429;
        font-weight: 400;
        text-transform: none;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 14px;
        color: #0b0c0c;
        text-decoration: none;
        border-bottom: 1px solid #0b0c0c;

    }
    .link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
        color: #0b0c0c;
    }
    .link-back::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 6px solid #0b0c0c;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
    #map {
        height: 400px;
        width: 100%;
    }
	
	.enrol-text {
		position: relative;top: -25px; font-size: 14px;
	}
	
	@media all and (max-width: 640px) {
		.enrol-text {
			margin-top:12px;
		}
		.share-links li {
			margin:5px !important;
		}
	}
	
	.pnl {
	
		border:solid 1px #000;
		padding:20px;
		margin:5px;
	
	}

    .row {

    }

    .inline {
        display: inline-block;
        padding:1em;
    }

    .hide {
        display:none;
    }

    .show {
        display: block;
    }

    .provider-details {
        background-color: #ececec;
        margin-bottom: 1em;
    }
	
	h3 {
		width:100%;
		margin-bottom:20px;
		clear:both;
	}
    .govuk-date-input__item {
        width: 60px;
        margin-right: 40px;
    }
    .govuk-input--width-4 {
        width: 9ex;
    }

</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="govuk-body" style="color: white;font-size: 16px;
    position: relative;
    top: -88px;
    padding-left: 80%;">
    <a href="account-management" class="govuk-link" style="color: white;margin-left: 10px">Emir Appleseed</a>
    <a href="index" class="govuk-link" style="color: white;margin-left: 10px">Sign out</a>
</div>


<main id="content" role="main">

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="your-courses">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="Providers">Providers</li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link">Course directory add a provider</li>
    </ol>
</div>


<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l" style="padding-top: 20px;">
            Add a Provider
        </h1>

        <div class="success-container hide">
            <p>Provider added </p>
            <a href="your-providers-success" id="Close" role="button" class="govuk-button">
                Close
            </a>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="sub">
                Enter UKPRN number
            </label>
            <input class="govuk-input" id="name" name="name" type="text" value=""/>
        </div>
        <div class="govuk-form-group">
            <a href="#" id="Find" role="button" class="govuk-button">
              Find
            </a>
		</div>
	</div>	

</div>
    <div class="govuk-grid-row hide provider-details-container">

        <div class="govuk-grid-column-full provider-details">
            <div class="grid-row">
                <div class="inline">
                <label class="govuk-label" for="sub">
                    Provider Name
                </label>
                <p>NLH PARTNERSHIP LTD</p>
                    <label class="govuk-label" for="sub">
                        UKPRN
                    </label>
                    <p>10034293</p>
                    <label class="govuk-label" for="sub">
                        Provider Type
                    </label>
                    <p>College</p>
                    <label class="govuk-label" for="sub">
                        Telephone
                    </label>
                    <p>07711 872621</p>
                </div>
                <div class="inline">
                    <label class="govuk-label" for="sub">
                        Address line 1
                    </label>
                    <p>1 Heathside Road</p>
                    <label class="govuk-label" for="sub">
                        Address line 2
                    </label>
                    <p></p>
                    <label class="govuk-label" for="sub">
                        Town
                    </label>
                    <p>Northwood</p>
                    <label class="govuk-label" for="sub">
                        Post code
                    </label>
                    <p>HA6 2EE</p>
                </div>
            </div>
        </div>
        <a href="#" id="Add" role="button" class="govuk-button">
            Add
        </a>
    </div>

		
	</div>


</main>
<script>

  const add = document.getElementById("Add");
  const find = document.getElementById("Find");
  const close = document.getElementById("Close");

  const providerDetailsContainer = document.getElementsByClassName('provider-details-container')[0];
  const successMessage = document.getElementsByClassName('success-container')[0];

  add.addEventListener('click', (e)=> {
    e.preventDefault();
    providerDetailsContainer.classList.remove('show');
    successMessage.classList.add('show');
  });

  find.addEventListener('click', (e)=> {
    e.preventDefault();
    providerDetailsContainer.classList.add('show');
  });

  close.addEventListener('click', (e)=> {
    e.preventDefault();
    successMessage.classList.remove('show');
  });

</script>
{% endblock %}