{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}



<style xmlns="http://www.w3.org/1999/html">
    .sort-order,#searchResults,.header-search-content{margin-top: 0;padding-top: 0;margin-bottom: 0;padding-bottom: 0}
    .govuk-checkboxes__label::before {
        left: 7px;
    }
    .govuk-checkboxes{
    position: relative;
        top: -25px;
        font-size: 12px;
    }
    .govuk-grid-column-one-third .list-group{border-bottom: 2px solid #ddd;}
    a.list-group-item {border-top: none;border-bottom: none}
    .govuk-option-select {
        background-color: #dee0e2;
        padding: 5px;
    }
    .list-group-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .sort-list-item+.sort-list-item {
        border-left: 2px solid #dee0e2;
    }
    .title a {color: inherit;text-decoration: none}
    .moredetails{display: none}
    .list-group p {font-size: 14px;}
    .select-compare{display: none}
    .list-inline>li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }
    .enrol-text {
        position: relative;top: -25px; font-size: 14px;
    }

    @media all and (max-width: 640px) {
        .enrol-text {
            margin-top:12px;
        }
        .share-links li {
            margin:5px !important;
        }
    }

    .govuk-checkboxes__input + .govuk-checkboxes__label::before  {
        content: "";
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 25px;
        height: 25px;
        background: transparent;
    }
    th.govuk-table__header, td.govuk-table__cell {
        width: 193px;
    }
    .govuk-checkboxes__input + .govuk-checkboxes__label::before {
        border: 2px solid  #bfc1c3;
    }
    span{font-size: 14px}
    textarea {width: 500px; font-size: 14px; height: 140px}
    .foo123{border: 2px solid hotpink}
    #main-table td:nth-child(1){padding-left: 30px;}
    #main-table td:nth-child(2){background-color: #bfc1c3;padding-left: 30px; padding-right: 10px}
    #main-table td:nth-child(3){background-color: #bfc1c3;padding-left: 10px;}
    #main-table td:nth-child(4){ background-color: #bfc1c3;padding-left: 20px}
    #main-table td:nth-child(5){ background-color: #bfc1c3;padding-left: 20px}
    #main-table td:nth-child(6){padding-left: 20px}
    #main-table td:nth-child(20){background-color: #bfc1c3;padding-left: 10px; padding-right: 10px}
    #main-table td:nth-child(21){background-color: #bfc1c3;padding-left: 10px; padding-right: 10px}
    #main-table td:nth-child(22){background-color: #bfc1c3;padding-left: 10px; padding-right: 10px}
    #main-table td:nth-child(23){background-color: #bfc1c3;padding-left: 10px; padding-right: 10px}
    #main-table td:nth-child(24){background-color: #bfc1c3;padding-left: 10px; padding-right: 10px}
    #main-table td:nth-child(25){background-color: #bfc1c3;padding-left: 10px; padding-right: 10px}
    #main-table td:nth-child(26){background-color: #bfc1c3;padding-left: 10px; padding-right: 10px}
    #main-table td:nth-child(27){background-color: #bfc1c3;padding-left: 10px; padding-right: 10px}

    .tarea {
        width:40vw;
        height: 500px;
        resize:none;
    }
    .shade{background-color:#bfc1c3;margin-top: 10px;padding-left: 5px}


    .govuk-form-group--error {
        border-left: none;
    }
    .govuk-checkboxes__label {
        display: block;
        padding: 8px 15px 5px 0;}
    .govuk-checkboxes{margin-left: 25px;}
    .govuk-checkboxes__label {
        display: block;
        padding: 0px;
        padding-top: 10px;
    }
</style>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>

<script>
    $(window).on('load', function(){
        var toggle = false;
        $('.btn').click(function() {
            toggle = !toggle;
            if(toggle){
                $('#A').animate({left: 0});
            }
            else{
                $('#A').animate({left:-400});
            }
        });
    });
</script>

<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function() {
        $j("#readmore").click(function(e){
            $j("span.showit").toggle();
            e.preventDefault();
        });
        $j( "#header-search" ).submit(function( event ) {
            //alert( "Handler for .submit() called." );
            var miscCharge = $j("#miscCharge").val();
            if(!isNaN(miscCharge))
            {
                //do some thing if it's a number  alert('Yeah a number');
                var x= (miscCharge).length;
                //alert(x);
                if (x == 8){
                    $j("#lars-search-results").html("<h2 class='govuk-heading-m'>Your Lars search result:</h2><tr class='govuk-table__row'><td class='govuk-input' style='border: none'>Lars number: 12345678 </td></tr>");
                    //alert('NEW ROW CREATED');
                    $j("#add-course-table").toggle();
                }
                else{
                    //alert('Error number too short or too long');
                    $j("#number-too-long-error").toggle();
                }
            }else{
                //do some thing if it's NOT a number alert('Error not a number');
                // $j("#must-be-a-number-error").toggle();
                $j("#lars-search-results").html("<h2 class='govuk-heading-m'>Search results (40816) for </h2>");
                $j("#add-course-table").toggle();
            }
            event.preventDefault();
        });
        $j('#popup-descript, #popup-url, #popup-req, #popup-cost, #popup-duration,#popup-dur,#popup-start-des, #popup-bring, #popup-flat').popup({
            opacity: 0.999,
            color:'#fff',
            transition: 'all 0.3s'
        });


        setInterval(function(){

            $j(".open-descript").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-descript').popup('show');
                });
            });

            $j(".close-descript").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-descript').popup('hide');
                });
            });

            $j(".open-url").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-url').popup('show');
                });
            });

            $j(".close-url").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-url').popup('hide');
                });
            });
            $j(".open-req").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-req').popup('show');
                });
            });

            $j(".close-req").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-req').popup('hide');
                });
            });
            $j(".open-cost").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-cost').popup('show');
                });
            });

            $j(".close-cost").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-cost').popup('hide');
                });
            });
            $j(".open-duration").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-duration').popup('show');
                });
            });

            $j(".close-duration").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-duration').popup('hide');
                });
            });

            $j(".open-flat").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-flat').popup('show');
                });
            });

            $j(".close-flat").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-flat').popup('hide');
                });
            });

            $j(".open-dur").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-dur').popup('show');
                });
            });
            $j(".close-dur").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-dur').popup('hide');
                });
            });
            $j(".open-start-des").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-start-des').popup('show');
                });
            });
            $j(".close-start-des").each(function (e) {
                $j(this).click(function (e) {
                    $j('#popup-start-des').popup('hide');
                });
            });

        }, 500);

        $j("#duplicate").click(function(e) {
            $j(".check:checkbox:checked").each (function(e) {
                $j("#main-table").append('<tr class="govuk-table__row">'+$j(this).closest("tr").html()+'</tr>');
                $j(this).prop('checked', false);
            });
        });

        $j("#delete").click(function(e) {
            if (confirm('Are you sure you want to delete selected items?')) {
                $j(".check:checkbox:checked").each (function(e) {
                    $j(this).closest("tr").remove();
                });
            }
        });

        $j("#duration-units").change(function (e) {
            $j("#duration").empty();
            var i=0;
            switch ($j("#duration-units").val()) {
                case "1":
                    i=31;
                    $j("#duration").append('<option>Less than one day</option>');
                    break;
                case "2":
                    i=52;
                    break;
                case "3":
                    i=6;
                    break;
                case "4":
                    i=24;
                    break;
            }
            for (x=1; x<=i; x++) {
                $j("#duration").append('<option>'+x+'</option>');
            }
        });

    });
</script>

<div class="govuk-body" style="color: white;font-size: 16px;
    position: relative;
    top: -88px;
    padding-left: 80%;">
    <a href="account-management" class="govuk-link" style="color: white;margin-left: 10px">Emir Appleseed</a>
    <a href="/" class="govuk-link" style="color: white;margin-left: 10px">Sign out</a>
</div>

<header class="govuk-grid-row" style="position: relative;top:-30px;padding-bottom: 40px">


<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="your-courses">Course directory</a></li>


    </ol>
</div>





<!--TABS-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">



<div class="govuk-width-container" style="margin-top: 20px">
<h1 class="govuk-heading-l" style="padding-bottom: 0;margin-bottom: 0;font-size: 24px;position: relative;
    top: 21px;
    ">Search results (8) for</h1>
<section class="govuk-grid-row" style="font-size: 14px;margin-bottom: 0">


            <div class="header-search-content" style="font-size: 14px;">
                <form action="" class="site-search ui-front" id="header-search" method="post">

                    <div class="search-input-wrapper govuk-form-group--error">

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="address-line-2" style="font-size: 14px">
                            </label>
                            <div class="select-editable">
                       <span id="number-too-long-error" class="govuk-error-message" style="display: none; font-size: 14px" >
                         Wrong Lars number. The number you entered is too long or too short. Valid Lars number has 8 digits.
                    </span>

                        <span id="must-be-a-number-error" class="govuk-error-message" style="display: none; font-size: 14px" >
                         Wrong Lars number. Valid Lars number has 8 digits and no letters.
                    </span>
                                <!--<section class="govuk-form-group govuk-grid-column-one-half" style="padding-left: 0; float: left;width: 20%;padding-right:5px">
                                    <select class="govuk-select" id="radius" name="radius">


                                        <option value="0" selected="">Select level</option>
                                        <option value="LV1">Entry level - Skills for Life</option>
                                        <option value="LV1">Level 1 - First certificate </option>
                                        <option value="LV2">Level 2 - GCSE/O level</option>
                                        <option value="LV3">Level 3 - A level/Access to higher education diploma</option>
                                        <option value="LV4">Level 4 - Certificate of higher education/HNC</option>
                                        <option value="LV5">Level 5 - Foundation degree/HND</option>
                                        <option value="LV6">Level 6 - Degree/Graduate diploma</option>
                                        <option value="LV7">Level 7 - Masters Degree/Postgraduate diploma</option>
                                        <option value="LV8">Level 8 - Doctorate/PhD</option>

                                    </select>
                                </section>-->
                                <input class="govuk-input" type="text" name="course" id="miscCharge" value="Biology" placeholder="" style="font-size: 14px;width: 40%;float: left;">
                            </div>
                        </div>
                        <input id="submit" class="submit govuk-button" type="submit" value="Search" style="font-size: 14px;float: left;margin-bottom: 30px">
                    </div>

                </form>

            </div>

    <div class="govuk-checkboxes" style="display: inline-block; margin-top: 25px"> <div class="govuk-checkboxes__item"> <input class="govuk-checkboxes__input check" id="waste-1" name="waste" type="checkbox"> <label class="govuk-label govuk-checkboxes__label" style="font-size: 14px">Community learning</label> </div> </div>



</section>



<main class="govuk-main-wrapper" style="padding-top: 0">

<div class="govuk-grid-row">


<div class="govuk-grid-column-one-third">
    <div class="filter mobilecollapse panel panel-default collapsable">
        <div class="panel-heading govuk-option-select">

                    <div class="option-select-label" style="color: inherit;text-decoration: none;"><p style="font-weight: 600;padding-left: 5px;margin-top: 10px;margin-bottom: 3px">Awarding organisation</p></div>
                <a data-toggle="collapse" href="#organisationname" aria-expanded="true" aria-controls="organisationname" class="clearfix"> <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                </a>
        </div>
        <div class="panel-collapse collapse in" id="organisationname">
            <div class="panel-body">
                <div class="link-list list-group">
                    <a class="list-group-item" href="/Search?category=Qualifications&amp;query=Playwork&amp;sort=-None&amp;filters%5B0%5D=status%2BAvailable%20to%20learners&amp;filters%5B1%5D=ssa%2BChild%20development%20and%20well-being&amp;filters%5B2%5D=organisationname%2BNCFE">NCFE (6)</a>
                    <a class="list-group-item" href="/Search?category=Qualifications&amp;query=Playwork&amp;sort=-None&amp;filters%5B0%5D=status%2BAvailable%20to%20learners&amp;filters%5B1%5D=ssa%2BChild%20development%20and%20well-being&amp;filters%5B2%5D=organisationname%2BBIIAB">BIIAB (3)</a>
                    <a class="list-group-item" href="/Search?category=Qualifications&amp;query=Playwork&amp;sort=-None&amp;filters%5B0%5D=status%2BAvailable%20to%20learners&amp;filters%5B1%5D=ssa%2BChild%20development%20and%20well-being&amp;filters%5B2%5D=organisationname%2BFocus%20Awards%20Limited">Focus Awards Limited (2)</a>
                    <a class="list-group-item" href="/Search?category=Qualifications&amp;query=Playwork&amp;sort=-None&amp;filters%5B0%5D=status%2BAvailable%20to%20learners&amp;filters%5B1%5D=ssa%2BChild%20development%20and%20well-being&amp;filters%5B2%5D=organisationname%2BPearson%20Education%20Ltd">Pearson Education Ltd (1)</a>
                    <a class="list-group-item more-link text-right" href="javascript:void(0)" style="text-align: right">
                        Show more
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="filter mobilecollapse panel panel-default collapsable" style="margin-top: 20px">
        <div class="panel-heading govuk-option-select">

            <div class="option-select-label" style="color: inherit;text-decoration: none;"><p style="font-weight: 600;padding-left: 5px;margin-top: 10px;margin-bottom: 3px">Awarding organisation</p></div>
            <a data-toggle="collapse" href="#organisationname" aria-expanded="true" aria-controls="organisationname" class="clearfix"> <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
            </a>
        </div>
        <div class="panel-collapse collapse in" id="organisationname">
            <div class="panel-body">
                <div class="link-list list-group">
                    <a class="list-group-item" href="/Search?category=Qualifications&amp;query=Playwork&amp;sort=-None&amp;filters%5B0%5D=status%2BAvailable%20to%20learners&amp;filters%5B1%5D=ssa%2BChild%20development%20and%20well-being&amp;filters%5B2%5D=organisationname%2BNCFE">Level 3 (16)</a>
                    <a class="list-group-item" href="/Search?category=Qualifications&amp;query=Playwork&amp;sort=-None&amp;filters%5B0%5D=status%2BAvailable%20to%20learners&amp;filters%5B1%5D=ssa%2BChild%20development%20and%20well-being&amp;filters%5B2%5D=organisationname%2BBIIAB">Level 4 (13)</a>
                    <a class="list-group-item" href="/Search?category=Qualifications&amp;query=Playwork&amp;sort=-None&amp;filters%5B0%5D=status%2BAvailable%20to%20learners&amp;filters%5B1%5D=ssa%2BChild%20development%20and%20well-being&amp;filters%5B2%5D=organisationname%2BFocus%20Awards%20Limited">Level 5 (2)</a>
                </div>

            </div>
        </div>
    </div>





</div>


<div class="govuk-grid-column-two-thirds">
    <ul class="list-inline sort-order sort-list">
        <li>
            <span style="font-weight: 600">Sort by:</span>
        </li>
        <li class="sort-list-item">
            <a href="/Search?category=Qualifications&amp;sort=relevance-Descending">
                Relevance
                <span class="glyphicon glyphicon-triangle-bottom"></span>

            </a>
        </li>
        <li class="sort-list-item">
            <a href="/Search?category=Qualifications&amp;sort=key-Ascending">
                Lars Number

            </a>
        </li>
        <li class="sort-list-item">
            <a href="/Search?category=Qualifications&amp;sort=title-Ascending">
                Title

            </a>
        </li>
        <li class="sort-list-item">
            <a href="/Search?category=Qualifications&amp;sort=ssa-Ascending">
                Awarding organisation

            </a>
        </li>
    </ul>


<ul id="searchResults" class="list-group search-results">
<br>

<li class="list-group-item search-result clearfix checkbox" data-list-id="9761">
    <div class="table collapsable">
        <div class="details">
            <div>
                <h3 class="title">
                    <a href="/Detail/Index/9761?category=qualifications">EAL Level 4 NVQ in Radio Production</a>
                </h3>
            </div>


            <div>
                <p>
                        <span class="item-label">
                            Lars Number:
                        </span>
                    100/2184/X
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Level:
                        </span>
                    Level 4
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Awarding organisation:
                        </span>
                    City and Guilds of London Institute
                </p>
            </div>
        </div>
        <div class="details moredetails collapse" id="moredetails-98208ff9-324f-4272-bf60-d67e3d90d63f">
            <div>
                <p>
                    <span class="item-label">Total Credits: </span>0
                </p>
            </div>
            <div>
                <p>
                    <span class="item-label">Regulated By CCEA Regulation: </span>False
                </p>
            </div>

        </div>
        <a class="more-details-button collapsable collapsed" data-toggle="collapse" href="#moredetails-98208ff9-324f-4272-bf60-d67e3d90d63f" aria-expanded="false" aria-controls="moredetails-98208ff9-324f-4272-bf60-d67e3d90d63f">
            <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
            <span aria-hidden="true" class="glyphicon glyphicon-menu-up"></span>
            Add this qualification
        </a>
        <a href="javascript:void(0)" class="remove-compare" title="Remove item">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <label class="select-compare">
            <input type="checkbox" data-toggle="tooltip" data-placement="bottom" data-trigger="manual" title="" data-original-title="A maximum of 3 items can be compared">
        </label>
    </div>
</li>

<li class="list-group-item search-result clearfix checkbox" data-list-id="20854">
    <div class="table collapsable">
        <div class="details">
            <div>
                <h3 class="title">
                    <a href="/Detail/Index/20854?category=qualifications">Pearson Edexcel Level 3 Award in Understanding the Principles and Practices of Learning and Development (QCF)</a>
                </h3>
            </div>


            <div>
                <p>
                        <span class="item-label">
                            Lars Number:
                        </span>
                    600/1982/7
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Level:
                        </span>
                    Level 3
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Awarding organisation:
                        </span>
                    NCFE
                </p>
            </div>
        </div>
        <div class="details moredetails collapse" id="moredetails-c036181c-f8ad-4e66-987b-23c48ed3fc59">
            <div>
                <p>
                    <span class="item-label">Total Credits: </span>6
                </p>
            </div>
            <div>
                <p>
                    <span class="item-label">Regulated By CCEA Regulation: </span>True
                </p>
            </div>

        </div>
        <a class="more-details-button collapsable collapsed" data-toggle="collapse" href="#moredetails-c036181c-f8ad-4e66-987b-23c48ed3fc59" aria-expanded="false" aria-controls="moredetails-c036181c-f8ad-4e66-987b-23c48ed3fc59">
            <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
            <span aria-hidden="true" class="glyphicon glyphicon-menu-up"></span>
            Add this qualification
        </a>
        <a href="javascript:void(0)" class="remove-compare" title="Remove item">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <label class="select-compare">
            <input type="checkbox" data-toggle="tooltip" data-placement="bottom" data-trigger="manual" title="" data-original-title="A maximum of 3 items can be compared">
        </label>
    </div>
</li>

<li class="list-group-item search-result clearfix checkbox" data-list-id="19621">
    <div class="table collapsable">
        <div class="details">
            <div>
                <h3 class="title">
                    <a href="/Detail/Index/19621?category=qualifications">IAM Level 3 Certificate in Principles of Business and Administration (QCF)</a>
                </h3>
            </div>


            <div>
                <p>
                        <span class="item-label">
                            Lars Number:
                        </span>
                    600/0434/4
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Level:
                        </span>
                    Level 3
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Awarding organisation:
                        </span>
                    Focus Awards Limited
                </p>
            </div>
        </div>
        <div class="details moredetails collapse" id="moredetails-e8854444-e442-4529-af06-3701fd39f1d0">
            <div>
                <p>
                    <span class="item-label">Total Credits: </span>17
                </p>
            </div>
            <div>
                <p>
                    <span class="item-label">Regulated By CCEA Regulation: </span>True
                </p>
            </div>

        </div>
        <a class="more-details-button collapsable collapsed" data-toggle="collapse" href="#moredetails-e8854444-e442-4529-af06-3701fd39f1d0" aria-expanded="false" aria-controls="moredetails-e8854444-e442-4529-af06-3701fd39f1d0">
            <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
            <span aria-hidden="true" class="glyphicon glyphicon-menu-up"></span>
            Add this qualification
        </a>
        <a href="javascript:void(0)" class="remove-compare" title="Remove item">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <label class="select-compare">
            <input type="checkbox" data-toggle="tooltip" data-placement="bottom" data-trigger="manual" title="" data-original-title="A maximum of 3 items can be compared">
        </label>
    </div>
</li>

<li class="list-group-item search-result clearfix checkbox" data-list-id="32194">
    <div class="table collapsable">
        <div class="details">
            <div>
                <h3 class="title">
                    <a href="/Detail/Index/32194?category=qualifications">Skillsfirst Level 2 Certificate in Principles of Working in Mental Health (QCF)</a>
                </h3>
            </div>


            <div>
                <p>
                        <span class="item-label">
                            Lars Number:
                        </span>
                    601/2783/1
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Level:
                        </span>
                    Level 2
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Awarding organisation:
                        </span>
                    Focus Awards Limited
                </p>
            </div>
        </div>
        <div class="details moredetails collapse" id="moredetails-c1300944-5d06-4899-ba78-47b30d4d4faa">
            <div>
                <p>
                    <span class="item-label">Total Credits: </span>17
                </p>
            </div>
            <div>
                <p>
                    <span class="item-label">Regulated By CCEA Regulation: </span>False
                </p>
            </div>

        </div>
        <a class="more-details-button collapsable collapsed" data-toggle="collapse" href="#moredetails-c1300944-5d06-4899-ba78-47b30d4d4faa" aria-expanded="false" aria-controls="moredetails-c1300944-5d06-4899-ba78-47b30d4d4faa">
            <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
            <span aria-hidden="true" class="glyphicon glyphicon-menu-up"></span>
            Add this qualification
        </a>
        <a href="javascript:void(0)" class="remove-compare" title="Remove item">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <label class="select-compare">
            <input type="checkbox" data-toggle="tooltip" data-placement="bottom" data-trigger="manual" title="" data-original-title="A maximum of 3 items can be compared">
        </label>
    </div>
</li>

<li class="list-group-item search-result clearfix checkbox" data-list-id="33867">
    <div class="table collapsable">
        <div class="details">
            <div>
                <h3 class="title">
                    <a href="/Detail/Index/33867?category=qualifications">CCNQ Level 1 Award In The Introduction to Powerboat Techniques (QCF)</a>
                </h3>
            </div>


            <div>
                <p>
                        <span class="item-label">
                            Lars Number:
                        </span>
                    601/4258/3
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Level:
                        </span>
                    Level 1
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Awarding organisation:
                        </span>
                    City and Guilds of London Institute
                </p>
            </div>
        </div>
        <div class="details moredetails collapse" id="moredetails-10910ee9-de32-4db3-a9cf-d7db9ad5fca8">
            <div>
                <p>
                    <span class="item-label">Total Credits: </span>1
                </p>
            </div>
            <div>
                <p>
                    <span class="item-label">Regulated By CCEA Regulation: </span>False
                </p>
            </div>

        </div>
        <a class="more-details-button collapsable collapsed" data-toggle="collapse" href="#moredetails-10910ee9-de32-4db3-a9cf-d7db9ad5fca8" aria-expanded="false" aria-controls="moredetails-10910ee9-de32-4db3-a9cf-d7db9ad5fca8">
            <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
            <span aria-hidden="true" class="glyphicon glyphicon-menu-up"></span>
            Add this qualification
        </a>
        <a href="javascript:void(0)" class="remove-compare" title="Remove item">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <label class="select-compare">
            <input type="checkbox" data-toggle="tooltip" data-placement="bottom" data-trigger="manual" title="" data-original-title="A maximum of 3 items can be compared">
        </label>
    </div>
</li>

<li class="list-group-item search-result clearfix checkbox" data-list-id="4641">
    <div class="table collapsable">
        <div class="details">
            <div>
                <h3 class="title">
                    <a href="/Detail/Index/4641?category=qualifications">Skillsfirst Level 1 NVQ Certificate in Customer Service (QCF)</a>
                </h3>
            </div>


            <div>
                <p>
                        <span class="item-label">
                            Lars Number:
                        </span>
                    500/9008/2
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Level:
                        </span>
                    Level 1
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Awarding organisation:
                        </span>
                    Focus Awards Limited
                </p>
            </div>
        </div>
        <div class="details moredetails collapse" id="moredetails-79e45723-3420-4f43-ac55-4acd59c43a82">
            <div>
                <p>
                    <span class="item-label">Total Credits: </span>22
                </p>
            </div>
            <div>
                <p>
                    <span class="item-label">Regulated By CCEA Regulation: </span>False
                </p>
            </div>

        </div>
        <a class="more-details-button collapsable collapsed" data-toggle="collapse" href="#moredetails-79e45723-3420-4f43-ac55-4acd59c43a82" aria-expanded="false" aria-controls="moredetails-79e45723-3420-4f43-ac55-4acd59c43a82">
            <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
            <span aria-hidden="true" class="glyphicon glyphicon-menu-up"></span>
            Add this qualification
        </a>
        <a href="javascript:void(0)" class="remove-compare" title="Remove item">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <label class="select-compare">
            <input type="checkbox" data-toggle="tooltip" data-placement="bottom" data-trigger="manual" title="" data-original-title="A maximum of 3 items can be compared">
        </label>
    </div>
</li>

<li class="list-group-item search-result clearfix checkbox" data-list-id="32644">
    <div class="table collapsable">
        <div class="details">
            <div>
                <h3 class="title">
                    <a href="/Detail/Index/32644?category=qualifications">SFEDI Awards Level 5 Award In Logistics and Transport (QCF)</a>
                </h3>
            </div>


            <div>
                <p>
                        <span class="item-label">
                            Lars Number:
                        </span>
                    601/3207/3
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Level:
                        </span>
                    Level 5
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Awarding organisation:
                        </span>
                    City and Guilds of London Institute
                </p>
            </div>
        </div>
        <div class="details moredetails collapse" id="moredetails-a010f226-2ba1-4fa3-97b6-76dcd439f588">
            <div>
                <p>
                    <span class="item-label">Total Credits: </span>10
                </p>
            </div>
            <div>
                <p>
                    <span class="item-label">Regulated By CCEA Regulation: </span>False
                </p>
            </div>

        </div>
        <a class="more-details-button collapsable collapsed" data-toggle="collapse" href="#moredetails-a010f226-2ba1-4fa3-97b6-76dcd439f588" aria-expanded="false" aria-controls="moredetails-a010f226-2ba1-4fa3-97b6-76dcd439f588">
            <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
            <span aria-hidden="true" class="glyphicon glyphicon-menu-up"></span>
            Add this qualification
        </a>
        <a href="javascript:void(0)" class="remove-compare" title="Remove item">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <label class="select-compare">
            <input type="checkbox" data-toggle="tooltip" data-placement="bottom" data-trigger="manual" title="" data-original-title="A maximum of 3 items can be compared">
        </label>
    </div>
</li>

<li class="list-group-item search-result clearfix checkbox" data-list-id="32851">
    <div class="table collapsable">
        <div class="details">
            <div>
                <h3 class="title">
                    <a href="/Detail/Index/32851?category=qualifications">SFEDI Awards Level 4 Certificate In Managing Logistics Operations</a>
                </h3>
            </div>


            <div>
                <p>
                        <span class="item-label">
                            Lars Number:
                        </span>
                    601/3303/X
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Level:
                        </span>
                    Level 4
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Awarding organisation:
                        </span>
                    City and Guilds of London Institute
                </p>
            </div>
        </div>
        <div class="details moredetails collapse" id="moredetails-eb3726ba-be81-4905-a258-8156fcbce7a6">
            <div>
                <p>
                    <span class="item-label">Total Credits: </span>32
                </p>
            </div>
            <div>
                <p>
                    <span class="item-label">Guided Learning Hours: </span>320
                </p>
            </div>
            <div>
                <p>
                    <span class="item-label">Total Qualification Time: </span>320
                </p>
            </div>
            <div>
                <p>
                    <span class="item-label">Regulated By CCEA Regulation: </span>False
                </p>
            </div>

        </div>
        <a class="more-details-button collapsable collapsed" data-toggle="collapse" href="#moredetails-eb3726ba-be81-4905-a258-8156fcbce7a6" aria-expanded="false" aria-controls="moredetails-eb3726ba-be81-4905-a258-8156fcbce7a6">
            <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
            <span aria-hidden="true" class="glyphicon glyphicon-menu-up"></span>
            Add this qualification
        </a>
        <a href="javascript:void(0)" class="remove-compare" title="Remove item">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <label class="select-compare">
            <input type="checkbox" data-toggle="tooltip" data-placement="bottom" data-trigger="manual" title="" data-original-title="A maximum of 3 items can be compared">
        </label>
    </div>
</li>

<li class="list-group-item search-result clearfix checkbox" data-list-id="33311">
    <div class="table collapsable">
        <div class="details">
            <div>
                <h3 class="title">
                    <a href="/Detail/Index/33311?category=qualifications">Agored Cymru Level 5 Certificate in Professional Craft Practice (QCF)</a>
                </h3>
            </div>


            <div>
                <p>
                        <span class="item-label">
                            Lars Number:
                        </span>
                    601/3961/4
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Level:
                        </span>
                    Level 5
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Awarding organisation:
                        </span>
                    City and Guilds of London Institute
                </p>
            </div>
        </div>
        <div class="details moredetails collapse" id="moredetails-c1ad3a37-403a-4885-8ff0-92534ce203c2">
            <div>
                <p>
                    <span class="item-label">Total Credits: </span>29
                </p>
            </div>
            <div>
                <p>
                    <span class="item-label">Regulated By CCEA Regulation: </span>False
                </p>
            </div>

        </div>
        <a class="more-details-button collapsable collapsed" data-toggle="collapse" href="#moredetails-c1ad3a37-403a-4885-8ff0-92534ce203c2" aria-expanded="false" aria-controls="moredetails-c1ad3a37-403a-4885-8ff0-92534ce203c2">
            <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
            <span aria-hidden="true" class="glyphicon glyphicon-menu-up"></span>
            Add this qualification
        </a>
        <a href="javascript:void(0)" class="remove-compare" title="Remove item">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <label class="select-compare">
            <input type="checkbox" data-toggle="tooltip" data-placement="bottom" data-trigger="manual" title="" data-original-title="A maximum of 3 items can be compared">
        </label>
    </div>
</li>

<li class="list-group-item search-result clearfix checkbox" data-list-id="33504">
    <div class="table collapsable">
        <div class="details">
            <div>
                <h3 class="title">
                    <a href="/Detail/Index/33504?category=qualifications">IAT Level 4 Diploma In Laboratory Animal Science and Technology (QCF)</a>
                </h3>
            </div>


            <div>
                <p>
                        <span class="item-label">
                            Lars Number:
                        </span>
                    601/4151/7
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Level:
                        </span>
                    Level 4
                </p>
            </div>
            <div>
                <p>
                        <span class="item-label">
                            Awarding organisation:
                        </span>
                    City and Guilds of London Institute
                </p>
            </div>
        </div>
        <div class="details moredetails collapse" id="moredetails-4fa597c2-671c-479d-8e84-cac013057f15">
            <div>
                <p>
                    <span class="item-label">Total Credits: </span>120
                </p>
            </div>
            <div>
                <p>
                    <span class="item-label">Regulated By CCEA Regulation: </span>False
                </p>
            </div>

        </div>
        <a class="more-details-button collapsable collapsed" data-toggle="collapse" href="#moredetails-4fa597c2-671c-479d-8e84-cac013057f15" aria-expanded="false" aria-controls="moredetails-4fa597c2-671c-479d-8e84-cac013057f15">
            <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
            <span aria-hidden="true" class="glyphicon glyphicon-menu-up"></span>
            Add this qualification
        </a>
        <a href="javascript:void(0)" class="remove-compare" title="Remove item">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <label class="select-compare">
            <input type="checkbox" data-toggle="tooltip" data-placement="bottom" data-trigger="manual" title="" data-original-title="A maximum of 3 items can be compared">
        </label>
    </div>
</li>
</ul>



    </div>
    </div>
</main>
</div>













    <table id="lars-search-results" class="govuk-table" style="margin-top: 30px; font-size: 14px;margin-bottom: 0">
</table>


<table id="add-course-table" class="govuk-table" style=" font-size: 14px; display: none">

    <tbody>
<tr>
    <td class="govuk-table__cell" colspan="15" style="padding-top:10px;border-bottom:none;font-size:16px;font-weight:bold;    border-bottom: 1px solid #bfc1c3;">
        GCE A Level in Art and Design, <span style="font-weight: 300">Level 3, Assessment &amp; Qualifications Alliance, Lars: 60308059




    </span>
    </td>



        <td class="govuk-table__cell">
        <a class="" href="add-a-course-form">Add this qualification</a>
    </td>


</tr>

<tr>
    <td class="govuk-table__cell" colspan="15" style="padding-top:10px;border-bottom:none;font-size:16px;font-weight:bold;    border-bottom: 1px solid #bfc1c3;">
        GCE A Level in Ancient History, <span style="font-weight: 300">Level 3, Assessment &amp; Qualifications Alliance, Lars: 60308059




    </span>
    </td>



    <td class="govuk-table__cell">
        <a class="" href="add-a-course-form">Add this qualification</a>
    </td>


</tr>
<tr>
    <td class="govuk-table__cell" colspan="15" style="padding-top:10px;border-bottom:none;font-size:16px;font-weight:bold;    border-bottom: 1px solid #bfc1c3;">
        GCE A Level in Biology, <span style="font-weight: 300">Level 3, Assessment &amp; Qualifications Alliance, Lars: 60308059




    </span>
    </td>



    <td class="govuk-table__cell">
        <a class="" href="add-a-course-form">Add this qualification</a>
    </td>


</tr>



    </tbody>


</table>






</header>



<div id="popup-descript"><div style="padding:0;width:100%;">
    <button class="my_popup_close govuk-button">Insert bullets</button>
    <button class="my_popup_close govuk-button">Spell check</button>
    <div contenteditable="true" class="govuk-textarea tarea" style="font-size: 14px;height:auto;">
        <p class="shade">Who is the course for:</p>
        This course gives you the skills you need to work in jobs such as nursing, social work and residential care. It’s also a route into a degree programme in Focus Awards Limited. Taking in everything from human anatomy and physiology to equality and diversity at work, this Extended Diploma will also give you valuable work experience.
        <i class="far fa-edit"></i>
        <p class="shade">What you’ll learn:</p>
        You'll learn about topics such as public health, sociological and psychological perspectives, caring for children, and young people, and safeguarding adults and promoting independence.  You'll also study:
        effective communication
        equality
        diversity and rights
        anatomy and physiology
        social sciences  <i class="far fa-edit"></i>

        <p class="shade">How you’ll learn</p>
        Most of the course is taught in the classroom, but you’ll do work placements throughout the programme, completing up to 100 hours in a variety of health and social care settings over the year. You’ll also complete a research project.
        <i class="far fa-edit"></i>

        <p class="shade">Where next?</p>
        If you pass with merit or distinction, a BTEC Extended Diploma is the equivalent of three A levels, and opens up the opportunity for you to study health, social sciences or a related field at university. It’s a well-respected qualification in business, so it should help you progress within  your workplace, particularly in areas such as human resources.
        <i class="far fa-edit"></i>

        <p class="shade">What you need to bring?</p>
        What you need to bring.
        <i class="far fa-edit"></i>

        <p class="shade">How will you be assessed?</p>
        How will you be assessed?
        <i class="far fa-edit"></i>  </div>
</div>
    <button class="govuk-button close-descript">Close</button>

</div>

<div id="popup-url"><div style="padding:0;width:100%;">
    <button class="my_popup_close govuk-button">Insert bullets</button>
    <button class="my_popup_close govuk-button">Spell check</button>
    <textarea class="govuk-textarea tarea">http://www.bmet.ac.uk/courses/76000122775958
    </textarea>
    <button class="govuk-button close-url">Close</button>

</div></div>

<div id="popup-req"><div style="padding:0;width:100%;">
    <button class="my_popup_close govuk-button">Insert bullets</button>
    <button class="my_popup_close govuk-button">Spell check</button>
    <textarea class="govuk-textarea tarea">You will need four GCSE grades A-C (9-4) including English and Maths. Alternatively, you will have a Diploma in Health & Social Care Level 2 with Merit grade or above.
    </textarea>
    <button class="govuk-button close-req">Close</button>

</div></div>

<div id="popup-cost"><div style="padding:0;width:100%;">
    <button class="my_popup_close govuk-button">Insert bullets</button>
    <button class="my_popup_close govuk-button">Spell check</button>
    <textarea class="govuk-textarea tarea">TBC
    </textarea>
    <button class="govuk-button close-cost">Close</button>

</div></div>

<div id="popup-duration"><div style="padding:0;width:100%;">
    <button class="my_popup_close govuk-button">Insert bullets</button>
    <button class="my_popup_close govuk-button">Spell check</button>
    <textarea class="govuk-textarea tarea">Duration additional information
    </textarea>
    <button class="govuk-button close-duration">Close</button>

</div></div>

<!--<div id="popup-dur"><div style="padding:0;width:100%;">
    <button class="my_popup_close govuk-button">Insert bullets</button>
    <button class="my_popup_close govuk-button">Spell check</button>
    <textarea class="govuk-textarea tarea">Duration description
</textarea>
    <button class="govuk-button close-dur">Close</button>

</div></div>-->

<div id="popup-flat"><div style="padding:0;width:100%;">
    <button class="my_popup_close govuk-button">Insert bullets</button>
    <button class="my_popup_close govuk-button">Spell check</button>
    <div  class="govuk-textarea tarea" style="font-size: 14px;">

        <p class="shade">Qualification level</p> 2 <i class="far fa-edit"></i>

        <p class="shade">Qualification Type</p>Other regulated <i class="far fa-edit"></i>

        <p class="shade">Awarding organisation</p>NCFE  <i class="far fa-edit"></i>

        <p class="shade">SSA Tier1 Description</p>Health, Public Services and Care <i class="far fa-edit"></i>

        <p class="shade">SSA Tier 2 Description</p>Health and Social Care <i class="far fa-edit"></i>


    </div>
    <button class="govuk-button close-flat" style="clear:both;display:block;margin-top:20px;">Close</button>

</div></div>


<div id="popup-start-des"><div style="padding:0;width:100%;">
    <button class="my_popup_close govuk-button">Insert bullets</button>
    <button class="my_popup_close govuk-button">Spell check</button>
    <textarea class="govuk-textarea tarea">Start date additional information
    </textarea>
    <button class="govuk-button close-start-des">Close</button>

</div></div>






{% endblock %}