{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


        <style>strong{font-weight: 600}</style>

<main role="main" id="content">
     <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash-adult" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <a href="#" title="back to previous page" onclick="window.history.go(-1); return false;" class="link-back">Back</a>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">East Reading College</h1>
            <p class="page-info">UKPRN:12345678</p>
        </div>
        
    </div>
        

<div class="grid-row margin-top">
    <div class="column-full">
          
            

            
<h1 class="heading-medium">Participation funding</h1>
<hr>
<p><strong>Adult education budget:</strong></p>

        <table>
            <tr>
                <td>Baseline</td>
                <td>£1,775,145</td>
                <td></td>
            </tr>
            <tr>
                <td>of which, 19+ continuing learners</td>
                <td>-£84,161</td>
                <td class="numeric">Value transferred to EFA for 19+ continuing learners (negative value)</td>
            </tr>
            <tr>
                <td><strong>2017 to 2018 allocation</strong></td>
                <td><strong>£1,690,984</strong></td>
                <td class="numeric">Total value of 2017 to 2018 AEB allocation</td>
            </tr>
            <tr>
                <td>August 2017 to March 2018</td>
                <td>£1,059,401</td>
                <td class="numeric">Value of allocation to use from August 2017 to March 2018</td>
            </tr>
            <tr>
                <td>April 2018 to July 2018</td>
                <td>£631,583</td>
                <td class="numeric">Value of allocation to use from April 2018 to July 2018 </td>
            </tr>
        </table>

        <h1 class="heading-medium" style="margin-top: 40px">Advanced learner loan</h1>
        <hr>
        <p><strong>Advanced learner loan facility:</strong></p>
            <table>
            <tr>
                <td>Baseline</td>
                <td>£494,316</td>
                <td></td>
            </tr>

            <tr>
                <td><strong>2017 to 2018 facility</strong></td>
                <td><strong>£494,316</strong></td>
                <td>Total value of 2017 to 2018 facility</td>
            </tr>

            <tr>
                <td>August 2017 to March 2018</td>
                <td>£312,259</td>
                <td>Value of facility to use from August 2017 to March 2018</td>
            </tr>

            <tr>
                <td>April 2018 to July 2018</td>
                <td>£182,057</td>
                <td>Value of facility to use from April 2018 to July 2018</td>
            </tr>

        </table>

        <p style="margin-top: 30px"><strong>Advanced learner loan facility:</strong></p>
        <table>
            <tr>
                <td>Baseline</td>
                <td>£75,728</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>2017 to 2018 bursary</strong></td>
                <td><strong>£75,728</strong></td>
                <td>Total value of 2017 to 2018 bursary</td>
            </tr>
            <tr>
                <td>August 2017 to March 2018</td>
                <td>£56,796</td>
                <td>Value of bursary to use from August 2017 to March 2018</td>
            </tr>
            <tr>
                <td>April 2018 to July 2018</td>
                <td>£18,932</td>
                <td>Value of bursary to use from April 2018 to July 2018</td>
            </tr>
        </table>
                   
                   
</div>
    </div>

</main>


{% endblock %}