{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}



        <style>strong{font-weight: 600}
        .img_responsive {
            max-width: 100%;
        }</style>

<main role="main" id="content">
     <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash-adult" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <a href="#" title="back to previous page" onclick="window.history.go(-1); return false;" class="link-back">Back</a>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">East Reading College</h1>
            <p class="page-info">UKPRN:12345678</p>
        </div>
        
    </div>
        

<div class="grid-row margin-top">
    <div class="column-full">
          
            

            
<h1 class="heading-medium">Geographical Mapping</h1>
        <hr>

<h2><strong>Distribution of 2014 to 2015 non-apprenticeship delivery</strong></h2>



        <p>The following map sets out the geographic distribution of your non-apprenticeship adult skills budget delivery for 2014 to 2015. The map is based on Government Office Regions (GORs) of your main correspondence address as submitted on UKRLP for your organisation. The non-apprenticeship delivery locations shown in the map and corresponding table reflect the postcode of learners submitted through your final individualised learner record (ILR). For further information regarding GORs, please refer to the Office of National Statistics <a href="http://webarchive.nationalarchives.gov.uk/20160112001119/http://www.ons.gov.uk/ons/guide-method/geography/beginner-s-guide/administrative/england/regions--former-gors-/index.html">website></a> .</p>

        <img src="/public/images/proportion-of-spend.jpg" class="img_responsive">

    </div>
    </div>

</main>


{% endblock %}