{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">

    <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="/personal-account" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                   Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="/personal-account/signout?continueUrl=%2Ffeedback-survey%3Forigin%3DPERTAX" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="../formula4" style="margin-top: 20px; display: block; text-decoration: none">
                &lt; Back
            </a>
            <h1 class="heading-secondary">BLYTHE ACADEMY</h1>
            <p>UKPRN: 12345678</p>
        </div>
    </div>


    <div class="grid-row">



        <table class="tableizer-table">
            <thead><tr class="tableizer-firstrow"><th colspan="6">Large Programme Uplift (based on 2014/15 students)</th></tr></thead><tbody>
        <tr><td colspan="2">&nbsp;</td><td>&nbsp;</td><td>Students meeting criteria for</td><td>Funding Uplift per Student per year</td><td>Total Large Programme Uplift (2 Years)</td></tr>
        <tr><td colspan="2">Large Programme Uplift at 20% of National Rate</td><td>&nbsp;</td><td>0</td><td>£800</td><td>£0</td></tr>
        <tr><td colspan="2">Large Programme Uplift at 10% of National Rate</td><td>&nbsp;</td><td>0</td><td>£800</td><td>£0</td></tr>
        <tr><td colspan="2">Total</td><td>&nbsp;</td><td>0</td><td>&nbsp;</td><td>£0</td></tr>
        </tbody></table>



    </div>




</main>

{% endblock %}