{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">

    <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="/personal-account" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="/personal-account/signout?continueUrl=%2Ffeedback-survey%3Forigin%3DPERTAX" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="../formula4" style="margin-top: 20px; display: block; text-decoration: none">
                &lt; Back
            </a>
            <h1 class="heading-secondary">BLYTHE ACADEMY</h1>
            <p>UKPRN: 12345678</p>
        </div>
    </div>


    <div class="grid-row">

        <table class="tableizer-table">

        <thead>

        <tr class="tableizer-firstrow">


            <th colspan="6">Breakdown of Funding by Funding Band
            </th>

        </tr>
        </thead>
        <tbody>

        <tr>
            <td>Planned Hours
            </td>
            <td>Student Numbers in 2015/16
            </td>
            <td>Proportions used in 2017/18 allocation
            </td>
            <td>Number of Students allocated in 2017/18
            </td>
            <td>National Funding Rate
            </td>
            <td>Student Funding
            </td>
        </tr>

        <tr>
            <td>Band 5
            </td>
            <td>62
            </td>
            <td>80.52%
            </td>
            <td>95
            </td>
            <td>£4,000
            </td>
            <td>£380,052
            </td>
        </tr>

        <tr>
            <td>Band 4 (Sum of Band 4a and 4b)
            </td>
            <td>15
            </td>
            <td>19.48%
            </td>
            <td>23
            </td>
            <td>£3,300
            </td>
            <td>£75,857
            </td>
        </tr>

        <tr>
            <td>Band 4a
            </td>
            <td>15
            </td>
            <td>19.48%
        </tr>

        <tr>
            <td>Band 4b
            </td>
            <td>0
            </td>
            <td colspan="4">0.00%
            </td>
        </tr>

        <tr>
            <td>Band 3
            </td>
            <td>0
            </td>
            <td>0.00%
            </td>
            <td>0
            </td>
            <td>£2,700
            </td>
            <td>£0
            </td>
        </tr>

        <tr>
            <td>Band 2
            </td>
            <td>0
            </td>
            <td>0.00%
            </td>
            <td>0
            </td>
            <td>£2,133
            </td>
            <td>£0
            </td>
        </tr>

        <tr>
            <td>Band 1 Students
            </td>
            <td>&nbsp;</td>
            <td>0
            </td>
            <td>0.00%
            </td>
            <td>&nbsp;</td>
            <td>0
            </td>
        </tr>

        <tr>
            <td>Band 1 FTEs
            </td>
            <td>&nbsp;</td>
            <td>0.00
            </td>
            <td>£4,000
            </td>
            <td>&nbsp;</td>
            <td>£0
            </td>
        </tr>

        <tr>
            <td>Total
            </td>
            <td>&nbsp;</td>
            <td>77
            </td>
            <td>100%
            </td>
            <td>118
            </td>
            <td>£2,259,349
            </td>
        </tr>
        </tbody>
        </table>




    </div>




</main>

{% endblock %}