{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<style xmlns="http://www.w3.org/1999/html">

    .govuk-related-items {
        margin-top: 30px;
        border-top: 10px solid #005ea5;
        padding-top: 5px;
    }
    .link-back {
        display: -moz-inline-stack;
        display: inline-block;
        position: relative;
        font-family: "nta", Arial, sans-serif;
        font-size: 14px;
        line-height: 1.1428571429;
        font-weight: 400;
        text-transform: none;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 14px;
        color: #0b0c0c;
        text-decoration: none;
        border-bottom: 1px solid #0b0c0c;

    }
    .link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
        color: #0b0c0c;
    }
    .link-back::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 6px solid #0b0c0c;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
    #map {
        height: 400px;
        width: 100%;
    }
	
	.enrol-text {
		position: relative;top: -25px; font-size: 14px;
	}
	
	@media all and (max-width: 640px) {
		.enrol-text {
			margin-top:12px;
		}
		.share-links li {
			margin:5px !important;
		}
	}
	
	.pnl {
	
		border:solid 1px #000;
		padding:20px;
		margin:5px;
	
	}
	
	h3 {
		width:100%;
		margin-bottom:20px;
		clear:both;
	}
    .govuk-date-input__item {
        width: 60px;
        margin-right: 40px;
    }
    .govuk-input--width-4 {
        width: 9ex;
    }
	
	/*progress*/
	.prog-container {
		float:right;
		width:100%;
		height:auto;
		position:sticky;
	}
	
	.prog-point {
		width:40px;
		height:40px;
		border: solid 1px #ccc;
		border-radius:40px;
		clear:both;
		color:#ccc;
		font-size:22px;
		text-align:center;
		line-height:40px;
		margin:0 auto;
	}
	
	.prog-point-cont {
		width:140px;
		text-align:center;
	}

	.prog-point-descript {
		width:100%;
		text-align:center;
		margin-top:10px;
	}	
	
	.prog-point.active {
		border: solid 1px #36D900;
		background-color: #36D900;
		color:#fff;
	}	
	
	.prog-line {
		width:1px;
		height: 100px;
		margin:10px 0 10px 70px;
		border-left: solid 1px #ccc;
		clear:both;
	}

</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="govuk-body" style="color: white;font-size: 16px;
    position: relative;
    top: -88px;
    padding-left: 80%;">
    <a href="account-management" class="govuk-link" style="color: white;margin-left: 10px">Emir Appleseed</a>
    <a href="/" class="govuk-link" style="color: white;margin-left: 10px">Sign out</a>
</div>


<main id="content" role="main">

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="your-courses">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link">Course directory add course</a></li>


    </ol>
</div>
<a class="link-back mt" href="add-a-course-form">Back</a>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="padding-top: 20px;">
            Add your first course
        </h1>

        <p style="padding: 15px 20px; border: 1px solid #0b0c0c">Qualification added: GCE A Level in Biology, Level 3,<br> Assessment & Qualifications Alliance, Lars: 60146254 </p>

        <div class="govuk-form-group" style="clear:both;">
            <label class="govuk-label" for="sub">
                Provider course name
            </label>
            <input class="govuk-input details" id="sub" name="sub" type="text"/>

        </div>


        <div class="btn-gr">
            <label class="govuk-label">Classroom or online</label>
            <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Classroom based</button>
            <button id="venues-show" class="govuk-button govuk-colour" value="Search" type="submit" style="background:#2b8cc4	;color: #000000; border:2px solid black">Online</button>
            <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Work based</button>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="sub">
                Start date
            </label>



            <script>
                var $j = jQuery.noConflict();
                $j( function() {
                    $j( "#datepicker" ).datepicker({
                        onSelect: function(selected,evnt) {
                            if (check(".details")) {
                                $j("#pr_1").addClass("active");
                            } else {
                                $j("#pr_1").removeClass("active");
                            }
                        }
                    });
                } );
            </script>

            <p>Date: <input type="text" id="datepicker" class="details"></p>
        </div>

        <h3 class="govuk-heading-m">Select course venue</h3>

        <div class="govuk-form-group" style="margin-bottom:10px;">
            <div class="govuk-checkboxes"> <div class="govuk-checkboxes__item"> <input class="govuk-checkboxes__input check venue" id="waste-1" name="waste" type="checkbox"> <label class="govuk-label govuk-checkboxes__label">
                Newham College
            </label> </div> </div>
            <div class="govuk-checkboxes"> <div class="govuk-checkboxes__item"> <input class="govuk-checkboxes__input check venue" id="waste-2" name="waste" type="checkbox"> <label class="govuk-label govuk-checkboxes__label">
                Oxham College
            </label> </div> </div>
            <div class="govuk-checkboxes"> <div class="govuk-checkboxes__item"> <input class="govuk-checkboxes__input check venue" id="waste-3" name="waste" type="checkbox"> <label class="govuk-label govuk-checkboxes__label">
                Durham College
            </label> </div> </div>
            <div class="govuk-checkboxes" style="padding-bottom: 20px"> <div class="govuk-checkboxes__item"> <input class="govuk-checkboxes__input check venue" id="waste-4" name="waste" type="checkbox"> <label class="govuk-label govuk-checkboxes__label">
                Baconsham College
            </label> </div> </div>
            <p>TOD.O.--->-->-->add venue popup to keep user on this page</p>
            <a href="your-venues" class="submit govuk-button" type="submit" value="Add venue" style="width:120px;height: 39px;"/>Add venue</a>
        </div>


        <div class="govuk-form-group">
            <label class="govuk-label" for="sub">
                Enrol now URL
            </label>
            <input class="govuk-input details" id="sub7" name="sub" type="text"/>
        </div>


        <div class="govuk-form-group">
		  <label class="govuk-label" for="sub">
			Cost
		  </label>
		  <input class="govuk-input details" id="sub4" name="sub" type="text" style=""/>
		</div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="sub">
                Cost description
            </label>
            <input class="govuk-input details" id="sub5" name="sub" type="text" style=""/>
        </div>


        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
                <label class="govuk-label" for="sub">
                    Duration
                </label>
                <div class="govuk-date-input" id="dob">

                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-day">
                                Day(s)
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                        </div>
                    </div>

                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-month">
                               Week(s)
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                        </div>
                    </div>

                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-month">
                                Month(s)
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                        </div>
                    </div>

                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-year">
                                Year(s)
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                        </div>
                    </div>


                </div>
            </fieldset>
        </div>




        <div class="btn-gr">
            <label class="govuk-label">Full time or part time</label>
            <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Full-time</button>
            <button id="venues-show" class="govuk-button govuk-colour" value="Search" type="submit" style="background:#2b8cc4	;color: #000000; border:2px solid black">Part-time</button>
            <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Flexible</button>
        </div>



				<div class="govuk-form-group">
		  <label class="govuk-label" for="level">
			Day, night or weekend
		  </label>
		  <select class="govuk-select" id="level" name="level">
              <option>Daytime/working hours</option>
              <option>Part-time</option>
              <option>Flexible</option>
		  </select>
		</div>







		
				<div class="govuk-form-group">

<p>TODO--->pop up with course preview</p>
<a href="your-courses" role="button" class="govuk-button govuk-button--start">
    Preview & Publish
</a>
		</div>
		
	</div>	



		
	</div>	
</div>
</main>

<script>

var $j = jQuery.noConflict();

function check(classs) {
	var ok=true;
	$j(classs).each(function (e) {
		if ($j(this).val().trim()=="") ok=false;
	});
	return ok;
}

$j(document).ready(function (e) {

	$j(".venue").each(function (e) {
		$j(this).change(function (e) {
			if ($j(".venue:checked").length==0) {
				$j("#pr_2").removeClass("active");
			} else {
				$j("#pr_2").addClass("active");
			}
		});
	});
	
	$j(".details").each(function (e) {
		$j(this).keyup(function (e) {
			if (check(".details")) {
				$j("#pr_1").addClass("active");
			} else {
				$j("#pr_1").removeClass("active");
			}
		});
	});
	
	$j(".descript").each(function (e) {
		$j(this).keyup(function (e) {
			if (check(".descript")) {
				$j("#pr_3").addClass("active");
			} else {
				$j("#pr_3").removeClass("active");
			}
		});
	});	
	
	$j(document).scroll(function (e) {
		$j(".prog-container").css("margin-top", $j(window).scrollTop()-140+"px");
		if ($j(window).scrollTop()<100) $j(".prog-container").css("margin-top", "0");
	});

});

</script>

{% endblock %}