{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">



            <form>
                <a class="back-to-previous" href="index.html">Back <span class="visuallyhidden"> to the previous question</span></a>
                <fieldset>
                    <h2 class="heading-medium">
                        Old bank account
                    </h2>


                    <div class="form-group">
                        <label class="form-label" for="supplier-name">Account Name</label>
                        <input class="form-control" id="supplier-name" name="supplier-name" type="text">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="supplier-name">Account Number</label>
                        <input class="form-control" id="supplier-name" name="supplier-name" type="text">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="supplier-name">Sort Code</label>
                        <input class="form-control" id="supplier-name" name="supplier-name" type="text">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="supplier-name">Remittance email address<br>Complete if different to current remittance address</label>
                        <input class="form-control" id="supplier-name" name="supplier-name" type="text">
                    </div>

                    <h2 class="heading-medium">
                        New bank account
                    </h2>

                    <div class="form-group">
                        <label class="form-label" for="supplier-name">Account Name</label>
                        <input class="form-control" id="supplier-name" name="supplier-name" type="text">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="supplier-name">Account Number</label>
                        <input class="form-control" id="supplier-name" name="supplier-name" type="text">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="supplier-name">Sort Code</label>
                        <input class="form-control" id="supplier-name" name="supplier-name" type="text">
                    </div>


                    <div class="form-group">
                        <label class="form-label" for="supplier-name">Name of person completing and submitting this form<br>from their business email address</label>
                        <input class="form-control" id="supplier-name" name="supplier-name" type="text">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="supplier-name">Date change(s) to be effective from</label>
                        <input class="form-control" id="supplier-name" name="supplier-name" type="text">
                    </div>


                    <a href="2.html" class="button" type="submit" value="Save and continue">Save and continue</a>
                </fieldset>


            </form>

        </div>
    </div>
</main>

{% endblock %}


