
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Digital First Careers Services Prototype Kit
        <span class="govuk-caption-xl">Developed with The GOV.UK Prototype Kit v7.0.0-beta.10</span>
      </h1>

        <h2 class="govuk-heading-m">Course directory</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="cd/sprint1/index.html">Sprint 1</a></li>
            <li><a class="govuk-link" href="cd/sprint2/index.html">Sprint 2</a></li>
            <li><a class="govuk-link" href="cd/sprint3/index.html">Sprint 3</a></li>
            <li><a class="govuk-link" href="cd/sprint4/index.html">Sprint 4</a></li>
            <li><a class="govuk-link" href="cd/alpha-prototype/index.html">Alpha Prototype</a></li>
            <li><a class="govuk-link" href="cd/sprint5/index.html">Sprint 5</a></li>
            <li><a class="govuk-link" href="cd/sprint6/index.html">Sprint 6</a></li>
            <!--<li><a class="govuk-link" href="sprint3/index.html">Sprint 3</a></li>
            <li><a class="govuk-link" href="sprint4/index.html">Sprint 4</a></li>
            <li><a class="govuk-link" href="sprint4/course-search-no-match">Search warning - no match</a></li>
            <li><a class="govuk-link" href="sprint4/course-search-no-radius">Search warning - extend the radius</a></li>
            <li><a class="govuk-link" href="sprint4/course-search-too-broad">Search warning - too broad</a></li>-->
        </ul>



      <h2 class="govuk-heading-m">Find a course</h2>
        <ul class="govuk-list govuk-list--bullet"><li>
            <a class="govuk-link" href="sprint1/index.html">Sprint 1</a></li>
        <li><a class="govuk-link" href="sprint2/index.html">Sprint 2</a></li>
        <li><a class="govuk-link" href="sprint3/index.html">Sprint 3</a></li>
        <li><a class="govuk-link" href="sprint4/index.html">Sprint 4</a></li>
        <li><a class="govuk-link" href="sprint4/course-search-no-match">Search warning - no match</a></li>
        <li><a class="govuk-link" href="sprint4/course-search-no-radius">Search warning - extend the radius</a></li>
        <li><a class="govuk-link" href="sprint4/course-search-too-broad">Search warning - too broad</a></li>
        <li><a class="govuk-link" href="sprint5/index.html">Sprint 5</a></li>
    </ul>
      <h2 class="govuk-heading-m" style="padding-top: 300px">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
