
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Digital First Careers Services Prototype Kit
        <span class="govuk-caption-xl">Developed with The GOV.UK Prototype Kit v7.0.0-beta.10</span>
      </h1>

      <h2 class="govuk-heading-m">Find a course</h2>
    <ul><li>
      <a href="sprint1/index.html">Sprint 1</a>
    </li></ul>
      <h2 class="govuk-heading-m" style="padding-top: 300px">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
