{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<style xmlns="http://www.w3.org/1999/html">
    .govuk-related-items {
        margin-top: 30px;
        border-top: 10px solid #005ea5;
        padding-top: 5px;
    }
    .link-back {
        display: -moz-inline-stack;
        display: inline-block;
        position: relative;
        font-family: "nta", Arial, sans-serif;
        font-size: 14px;
        line-height: 1.1428571429;
        font-weight: 400;
        text-transform: none;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 14px;
        color: #0b0c0c;
        text-decoration: none;
        border-bottom: 1px solid #0b0c0c;

    }
    .link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
        color: #0b0c0c;
    }
    .link-back::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 6px solid #0b0c0c;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
    #map {
        height: 400px;
        width: 100%;
    }
	
	.enrol-text {
		position: relative;top: -25px; font-size: 14px;
	}
	
	@media all and (max-width: 640px) {
		.enrol-text {
			margin-top:12px;
		}
		.share-links li {
			margin:5px !important;
		}
	}
	
	.pnl {
	
		border:solid 1px #000;
		padding:20px;
		margin:5px;
	
	}
    .canvasjs-chart-canvas{font-family: "nta"!important;}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<div class="govuk-body" style="color: white;font-size: 16px;
    position: relative;
    top: -88px;
    padding-left: 80%;">
    <a href="account-management" class="govuk-link" style="color: white;margin-left: 10px">Emir Appleseed</a>
    <a href="index" class="govuk-link" style="color: white;margin-left: 10px">Sign out</a>
</div>

<main id="content" role="main">

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="your-courses">Course directory</a></li>


    </ol>
</div>



<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l" style="padding-top: 20px;">
            Manage your account
        </h1>
	</div>


<!--
    <div class="btn-gr" style="margin-left:20px">
        <label class="govuk-label">Select default view:</label>
        <button id="venues-show" class="govuk-button govuk-colour" value="Search" type="submit" style="background:#2b8cc4	;color: #000000; border:2px solid black">Courses</button>

        <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Apprenticeship training</button>

        <button id="venues-show" class="govuk-button" value="Search" type="submit" style="background: white;color: #000000; border:2px solid black">Both</button>
    </div>-->

	
	<!--TABS--> <div class="govuk-grid-column-full">
	
	<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#approved">
        Organisation
      </a>
    </li>

      <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#reports">
              View reports
          </a>
      </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#drafts">
        Performance analytics
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#archived">
        Manage users
      </a>
    </li>

	    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#history">
        History
      </a>
    </li>


  </ul>

  <section class="govuk-tabs__panel" id="approved">

     <p> City Of London Academy </p><p>Shoreditch Park</p><p>Audrey Street</p>
      <p>  London</p>
      <p>  E2 8QH</p>
      <p>  Your term start date: 1 September</p>


  </section>



        <section class="govuk-tabs__panel" id="reports">


            <h3 class="govuk-heading-s">Course status</h3>

            <ul class="govuk-list" style="padding-left:20px; padding-top:20px;">
                <li>
                    <a class="govuk-link" href="expired-learning-aims" style="">Expired learning aims (1)</a>
                </li>
            </ul>
            <h3 class="govuk-heading-s">Apprenticeship training status</h3>

            <ul class="govuk-list" style="padding-left:20px; padding-top:20px;">
                <li>
                    <a class="govuk-link" href="out-of-date" style="">Out of date courses (1)</a>
                </li>
                <li>
                    <a class="govuk-link" href="no-learning-aims" style="">No learning aims (2) </a>
                </li>
                <li>
                    <a class="govuk-link" href="#" style="">Expired learning aims (1)</a>
                </li>
            </ul>
            <div class="pnl">

                <img src="/public/images/chart.png" alt="Chart" style="width:100%;height:auto;">
            </div>

        </section>
  
  
  <section class="govuk-tabs__panel" id="drafts">
    <h2 class="govuk-heading-s">Monthly performance analytics</h2>



      <script type="text/javascript">
          window.onload = function () {

              var chart = new CanvasJS.Chart("chartContainer", {
                  theme: "light1", // "light2", "dark1", "dark2"
                  animationEnabled: true, // change to true
                  title:{
                      text: ""
                  },
                  data: [
                      {
                          // Change type to "bar", "area", "spline", "pie",etc.
                          type: "column",
                          dataPoints: [
                              { label: "EAST LONDON ADVANCED TECHNOLOGY TRAINING",  y: 10  },
                              { label: "CROMWELL COLLEGE OF IT & MANAGEMENT LIMITED", y: 15  },
                              { label: "EASTEND TRAINING LTD", y: 25  },
                              { label: "ELECT CARE CONSULTANTS LIMITED",  y: 30  },
                              { label: "GARNISH ENT. LTD",  y: 28  }
                          ]
                      }
                  ]
              });
              chart.render();

          }
      </script>
      <div id="chartContainer" style="height: 370px; width: 100%;"></div>
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>




  </section>
  <section class="govuk-tabs__panel" id="archived">
    <h2 class="govuk-heading-s">Manage users </h2>



      <div class="form-group govuk-checkboxes">

          <div class="govuk-checkboxes__item">
              <label class="govuk-label govuk-checkboxes__label" for="study0" >Emir Appleseed &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">emir@newhamcollege.co.uk</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Edit</a>&nbsp;<a href="#">Delete</a></label>
          </div>


          <div class="govuk-checkboxes__item">
              <label class="govuk-label govuk-checkboxes__label" for="study0" >John Appleseed &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">john@newhamcollege.co.uk</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Edit</a>&nbsp;<a href="#">Delete</a></label>
          </div>

          <div class="govuk-checkboxes__item">
              <label class="govuk-label govuk-checkboxes__label" for="study0" >Mary English  &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">mary@newhamcollege.co.uk</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Edit</a>&nbsp;<a href="#">Delete</a></label>
          </div>

          <div class="govuk-checkboxes__item">
              <label class="govuk-label govuk-checkboxes__label" for="study0" >Phillip Knight  &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">phillip@newhamcollege.co.uk</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Edit</a>&nbsp;<a href="#">Delete</a></label>
          </div>

      </div>



  </section>

  <section class="govuk-tabs__panel" id="history">
    <h2 class="govuk-heading-s">History</h2>




<table class="govuk-table">

    <tr class="govuk-table__row" style="border-bottom: solid 2px #dee0e2;">
        <th class="govuk-table__header" scope="col" width="70">Change</th>
		<th class="govuk-table__header" scope="col" width="30"></th>
    </tr>
	
    <tr class="govuk-table__row" style="border-bottom: solid 2px #dee0e2;">
        <td class="govuk-table__cell">Some change 1</th>
		<td class="govuk-table__cell" style="text-align:right;"><a href="#">Revert</a></th>
    </tr>

	    <tr class="govuk-table__row" style="border-bottom: solid 2px #dee0e2;">
        <td class="govuk-table__cell">Some change 2</th>
		<td class="govuk-table__cell" style="text-align:right;"><a href="#">Revert</a></th>
    </tr>	
	
    <tr class="govuk-table__row" style="border-bottom: solid 2px #dee0e2;">
        <td class="govuk-table__cell">Some change 3</th>
		<td class="govuk-table__cell" style="text-align:right;"><a href="#">Revert</a></th>
    </tr>	

	    <tr class="govuk-table__row" style="border-bottom: solid 2px #dee0e2;">
        <td class="govuk-table__cell">Some change 4</th>
		<td class="govuk-table__cell" style="text-align:right;"><a href="#">Revert</a></th>
    </tr>	

</table>





  </section>



</div>

<!--END TABS--></div>





    </div>
	


	
	
	<!--
	    <div class="govuk-grid-column-full" style="margin-top:30px ">


				<div class="govuk-grid-column-one-half pnl" style="margin: 0; border: none">
				
                            <h3 class="govuk-heading-s">Your venues</h3>

                     <ul class="govuk-list" style="padding-left:20px;padding-top:20px;">
                      <li>
                        <a class="govuk-link" href="#">View your venues</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="#">Update venues</a>
                      </li>
                        <li>
                        <a class="govuk-link" href="#">Add venues</a>
                      </li>
                    </ul>

                    <div class="govuk-form-group">
                    <a href="your-venues" role="button" class="govuk-button govuk-button--start">
                      Start now
                    </a>
                    </div>
	
	        	</div>


	</div>	-->

<h2 class="govuk-heading-m" style="margin-top: 30px;margin-left:20px">Change the start date for all your courses</h2>


<script>
    var $j = jQuery.noConflict();
    $j( function() {
        $j( "#datepicker" ).datepicker();
    } );
</script>
<div>
    <input type="text" id="datepicker" placeholder="" style="border: none;font-size: 14px;position: relative;
    top: 10px;color:inherit;background-color: inherit;left: 20px" class="hasDatepicker"></div>
<i class="far fa-edit" style="    position: relative;
        left: 90px;
    top: -15px;"></i>



<p style="margin-left: 20px">Date: <input type="text" id="datepicker" class="details hasDatepicker"></p>




</div>




</main>
{% endblock %}