{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<style xmlns="http://www.w3.org/1999/html">
    .govuk-related-items {
        margin-top: 30px;
        border-top: 10px solid #005ea5;
        padding-top: 5px;
    }
    .link-back {
        display: -moz-inline-stack;
        display: inline-block;
        position: relative;
        font-family: "nta", Arial, sans-serif;
        font-size: 14px;
        line-height: 1.1428571429;
        font-weight: 400;
        text-transform: none;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 14px;
        color: #0b0c0c;
        text-decoration: none;
        border-bottom: 1px solid #0b0c0c;

    }
    .link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
        color: #0b0c0c;
    }
    .link-back::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 6px solid #0b0c0c;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
    #map {
        height: 400px;
        width: 100%;
    }
	
	.enrol-text {
		position: relative;top: -25px; font-size: 14px;
	}
	
	@media all and (max-width: 640px) {
		.enrol-text {
			margin-top:12px;
		}
		.share-links li {
			margin:5px !important;
		}
	}

	
	.pnl {
	
		padding:20px;
		margin:5px;
	
	}
	
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<main id="content" role="main">

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="index">Course directory login</a></li>


    </ol>
</div>




<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

	</div>	

    <div class="govuk-grid-column-two-thirds">
	


            <h1 class="govuk-heading-l" style="padding-top: 20px;">
                Course directory login
            </h1>
	
        <p>


            Log in to upload and update details of your qualifications and courses, course dates and centres. This covers all accredited courses offered in England.
        </p>
		
		<div class="govuk-form-group">
		  <label class="govuk-label" for="username">
			Username
		  </label>
		  <input class="govuk-input" id="username" name="username" type="text" style="width: 260px" />
		</div>
		
		<div class="govuk-form-group">
		  <label class="govuk-label" for="username">
			Password
		  </label>
		  <input class="govuk-input" id="password" name="password" type="password" style="width: 260px" />
		</div>		
		
		<div class="govuk-form-group">
<a href="your-courses" role="button" class="govuk-button govuk-button--start">
  Sign in
</a>
		</div>
	
		
		<ul class="govuk-list">
		  <li>
			<a class="govuk-link" href="#">Forgot your password?</a>
		  </li>
		</ul>



        <p>
            If you don't know your log in details or you need further information please visit the help pages, contact the Course Directory Support Team on 0844 811 5073 or <a href>support@coursedirectoryproviderportal.org.uk</a>. For help with your course data you can contact an information officer at <a href>support@coursedirectoryproviderportal.org.uk</a>.</p>
		
		
	</div>	






</div>
</main>
{% endblock %}