{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<style xmlns="http://www.w3.org/1999/html">
    .govuk-related-items {
        margin-top: 30px;
        border-top: 10px solid #005ea5;
        padding-top: 5px;
    }
    .link-back {
        display: -moz-inline-stack;
        display: inline-block;
        position: relative;
        font-family: "nta", Arial, sans-serif;
        font-size: 14px;
        line-height: 1.1428571429;
        font-weight: 400;
        text-transform: none;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 14px;
        color: #0b0c0c;
        text-decoration: none;
        border-bottom: 1px solid #0b0c0c;

    }
    .link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
        color: #0b0c0c;
    }
    .link-back::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 6px solid #0b0c0c;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
    #map {
        height: 400px;
        width: 100%;
    }
	
	.enrol-text {
		position: relative;top: -25px; font-size: 14px;
	}
	
	@media all and (max-width: 640px) {
		.enrol-text {
			margin-top:12px;
		}
		.share-links li {
			margin:5px !important;
		}
	}

	
	.pnl { 
	
		border:solid 1px #000;
		padding:20px;
		margin:5px;
	
	}
	
	body {
		font-family:Arial, sans-sherif;
	}
	
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<main id="content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l" style="padding-top: 20px;">
            DfE Sign-in
        </h1>
	</div></div>	
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <p>DfE Sign-in is the new way to sign-in to access some specific education sector services.</p>
            <form method="post" id="form-signin" class="form-signin">
               
                    <h2>Sign-in</h2>
<div class="govuk-form-group">
		  <label class="govuk-label" for="username">
			Username
		  </label>
		  <input class="govuk-input" id="username" name="username" type="text" />
		</div>
		
		<div class="govuk-form-group">
		  <label class="govuk-label" for="username">
			Password
		  </label>
		  <input class="govuk-input" id="password" name="password" type="password" />
		  <p class="form-help font-xsmall" style="margin-top: 10px"><a href="/9a59176e-a85f-4908-893d-09b240bf9df9/resetpassword/request?clientid=dttp&redirect_uri=https://traineeteacherportal.education.gov.uk/default.aspx">I've forgotten my password</a></p>

		</div>		
		
		<div class="govuk-form-group">
<a href="your-courses" role="button" class="govuk-button">
  Sign in
</a>
                
               
                <div class="panel panel-border-wide">
                    <p>By continuing you accept the <a href="#">terms and conditions</a>.</p>
                </div>
            </form>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <details class="helpdesk"  style="margin-left:17px;">
    <summary><span class="summary" style="font-size:18px;color: #005ea5;">Having problems?</span></summary>
    <div class="panel panel-border-narrow" style="padding-top:15px;">
        <p>If you are having problems using the DfE Sign-in service, follow the link to read the <a href="#">frequently asked questions</a>. You will also be able to request further assistance if you need it.</p>
    </div>
</details>
            
        </div>
    </div>



    </main>


</main>
{% endblock %}